Repository 3b1b/captions, changes with the labels that .github/labeler.yml gives for each.
All labels: German, Hebrew, French, Spanish, Turkish, Hindi, Hungarian, Arabic, Bengali, Chinese, Croation, Indonesian, Italian, Japanese, Korean, Lithuanian, Marathi, Persian, Polish, Portuguese, Romanian, Russian, Serbian, Slovak, Thai, Ukranian, Vietnamese

Update auto_generated subtitles
  2016/vectors/spanish/auto_generated.srt
  2021/newtons-fractal/portuguese/auto_generated.srt
  2023/convolutions2/spanish/auto_generated.srt
  2024/shorts/cube-shadow-puzzle/hindi/auto_generated.srt
  2024/shorts/subset-sum/hindi/auto_generated.srt
  2024/shorts/subset-sum/spanish/auto_generated.srt
Labels: Spanish, Hindi, Portuguese

Made minor changes, read until line 353.
  2020/hamming-codes/spanish/sentence_translations.json
Labels: Spanish

ci: document labeler
  .github/labeler.sh
Labels: none

Update sentence_translations.json
  2022/wordle/german/sentence_translations.json
Labels: German

Update 2020/hamming-codes/spanish/sentence_translations.json
  2020/hamming-codes/spanish/sentence_translations.json
Labels: Spanish

Update sentence_translations.json
  2015/inventing-math/italian/sentence_translations.json
Labels: Italian

hardest problem korean title edit
  2017/hardest-problem/korean/title.json
Labels: Korean

Update sentence_translations.json
  2021/newtons-fractal/german/sentence_translations.json
Labels: German

Update /2015/binary-counting/russian/title.json
  2015/binary-counting/russian/title.json
Labels: Russian

Update /2015/eulers-formula-old/title.json
  2015/eulers-formula-old/russian/title.json
Labels: Russian

Update /2015/eulers-formula-poem/russian/community.srt
  2015/eulers-formula-poem/russian/community.srt
Labels: Russian

pi-was-628 korean title change
  2018/pi-was-628/korean/title.json
Labels: Korean

Create title.json
  2024/shorts/cube-shadow-puzzle/korean/title.json
Labels: Korean

#-2023-ego-and-math-final-edit
  2023/ego-and-math/german/sentence_translations.json
Labels: German

typo
  2023/ego-and-math/german/sentence_translations.json
Labels: German

[German] 2023/prism Update sentence_translations.json
  2023/prism/german/sentence_translations.json
Labels: German

Fix moser-reboot transcript
  2023/moser-reboot/english/captions.srt
  2023/moser-reboot/english/transcript.txt
Labels: none

Run DeepL Translations on moser-reboot/german
  2023/moser-reboot/german/auto_generated.srt
  2023/moser-reboot/german/sentence_translations.json
  2023/moser-reboot/german/sentence_translations_by_google.json
Labels: German

Run DeepL on moser-reboot/turkish
  2023/moser-reboot/turkish/auto_generated.srt
  2023/moser-reboot/turkish/sentence_translations.json
  2023/moser-reboot/turkish/sentence_translations_by_google.json
Labels: Turkish

Run DeepL on moser-reboot/korean
  2023/moser-reboot/korean/auto_generated.srt
  2023/moser-reboot/korean/sentence_translations.json
  2023/moser-reboot/korean/sentence_translations_by_google.json
Labels: Korean

Update sentence_translations.json
  2023/barber-pole-1/persian/sentence_translations.json
Labels: Persian

Delete sentence_translations_by_google files
  2023/moser-reboot/german/sentence_translations_by_google.json
  2023/moser-reboot/korean/sentence_translations_by_google.json
  2023/moser-reboot/turkish/sentence_translations_by_google.json
Labels: German, Turkish, Korean

Ran DeepL on moser-reboot/hungarian
  2023/moser-reboot/hungarian/auto_generated.srt
  2023/moser-reboot/hungarian/sentence_translations.json
Labels: Hungarian

cube-shaodw-puzzle korean sentence_translations json
  2024/shorts/cube-shadow-puzzle/korean/sentence_translations.json
Labels: Korean

Update sentence_translations.json
  2024/shorts/cube-shadow-puzzle/korean/sentence_translations.json
Labels: Korean

Ran DeepL on hamming-codes/korean
  2020/hamming-codes/korean/auto_generated.srt
  2020/hamming-codes/korean/sentence_translations.json
Labels: Korean

#-2020-groups-and-monsters
  2020/groups-and-monsters/german/sentence_translation.json
Labels: German

Update sentence_translations.json
  2022/wordle/german/sentence_translations.json
Labels: German

Update sentence_translations.json
  2024/shorts/cube-shadow-puzzle/german/sentence_translations.json
Labels: German

[Spanish] Update 2016/linear-transformations description.json
  2016/linear-transformations/spanish/description.json
Labels: Spanish

Rerun whisper with word timings on ego-and-math plus short-on-shorts
  2023/ego-and-math/english/captions.srt
  2023/ego-and-math/english/transcript.txt
  2023/ego-and-math/english/word_timings.json
  2023/shorts/on-shorts/english/captions.srt
  2023/shorts/on-shorts/english/transcript.txt
  2023/shorts/on-shorts/english/word_timings.json
Labels: none

Add some default Hebrew translations
  2023/ego-and-math/hebrew/auto_generated.srt
  2023/ego-and-math/hebrew/description.json
  2023/ego-and-math/hebrew/sentence_translations.json
  2023/ego-and-math/hebrew/title.json
  2023/ego-and-math/video_url.txt
  2023/shorts/on-shorts/hebrew/auto_generated.srt
  2023/shorts/on-shorts/hebrew/description.json
  2023/shorts/on-shorts/hebrew/sentence_translations.json
  2023/shorts/on-shorts/hebrew/title.json
  2024/shorts/cube-shadow-puzzle/hebrew/auto_generated.srt
  2024/shorts/cube-shadow-puzzle/hebrew/description.json
  2024/shorts/cube-shadow-puzzle/hebrew/sentence_translations.json
  2024/shorts/cube-shadow-puzzle/hebrew/title.json
  2024/shorts/subset-sum/hebrew/auto_generated.srt
  2024/shorts/subset-sum/hebrew/description.json
  2024/shorts/subset-sum/hebrew/sentence_translations.json
  2024/shorts/subset-sum/hebrew/title.json
Labels: Hebrew

.github/labeler.yml:

# This file was automatically generated by the labeler.sh script. Do not edit manually.

German:
- changed-files:
  - any-glob-to-any-file: '**/german/*'

Hebrew:
- changed-files:
  - any-glob-to-any-file: '**/hebrew/*'

French:
- changed-files:
  - any-glob-to-any-file: '**/french/*'

Spanish:
- changed-files:
  - any-glob-to-any-file: '**/spanish/*'

Turkish:
- changed-files:
  - any-glob-to-any-file: '**/turkish/*'

Hindi:
- changed-files:
  - any-glob-to-any-file: '**/hindi/*'

Hungarian:
- changed-files:
  - any-glob-to-any-file: '**/hungarian/*'

Arabic:
- changed-files:
  - any-glob-to-any-file: '**/arabic/*'

Bengali:
- changed-files:
  - any-glob-to-any-file: '**/bengali/*'

Chinese:
- changed-files:
  - any-glob-to-any-file: '**/chinese/*'

Croation:
- changed-files:
  - any-glob-to-any-file: '**/croation/*'

Indonesian:
- changed-files:
  - any-glob-to-any-file: '**/indonesian/*'

Italian:
- changed-files:
  - any-glob-to-any-file: '**/italian/*'

Japanese:
- changed-files:
  - any-glob-to-any-file: '**/japanese/*'

Korean:
- changed-files:
  - any-glob-to-any-file: '**/korean/*'

Lithuanian:
- changed-files:
  - any-glob-to-any-file: '**/lithuanian/*'

Marathi:
- changed-files:
  - any-glob-to-any-file: '**/marathi/*'

Persian:
- changed-files:
  - any-glob-to-any-file: '**/persian/*'

Polish:
- changed-files:
  - any-glob-to-any-file: '**/polish/*'

Portuguese:
- changed-files:
  - any-glob-to-any-file: '**/portuguese/*'

Romanian:
- changed-files:
  - any-glob-to-any-file: '**/romanian/*'

Russian:
- changed-files:
  - any-glob-to-any-file: '**/russian/*'

Serbian:
- changed-files:
  - any-glob-to-any-file: '**/serbian/*'

Slovak:
- changed-files:
  - any-glob-to-any-file: '**/slovak/*'

Thai:
- changed-files:
  - any-glob-to-any-file: '**/thai/*'

Ukranian:
- changed-files:
  - any-glob-to-any-file: '**/ukranian/*'

Vietnamese:
- changed-files:
  - any-glob-to-any-file: '**/vietnamese/*'
