Repository 3b1b/captions, changes with the labels that .github/labeler.yml gives for each.
All labels: Albanian, Arabic, Bangla, Bengali, Bulgarian, Catalan, Chinese, Croatian, Czech, Danish, Dutch, English, Estonian, Finnish, French, Georgian, German, Greek, Hebrew, Hindi, Hungarian, Indonesian, Italian, Japanese, Korean, Lithuanian, Malay, Marathi, Norwegian, Persian, Polish, Portuguese, Romanian, Russian, Serbian, Slovak, Slovenian, Spanish, Swedish, Tagalog, Tamil, Telugu, Thai, Turkish, Ukrainian, Urdu, Vietnamese

Added contributor numbers to bayes-theorem, gujarati, description.json
  2019/bayes-theorem/gujarati/description.json
Labels: none

Added contributor numbers to bayes-theorem, gujarati, sentence_translations.json
  2019/bayes-theorem/gujarati/sentence_translations.json
Labels: none

Added contributor numbers to bayes-theorem, gujarati, title.json
  2019/bayes-theorem/gujarati/title.json
Labels: none

Added contributor numbers to hamming-codes-2, hungarian, description.json
  2020/hamming-codes-2/hungarian/description.json
Labels: Hungarian

Added contributor numbers to hamming-codes-2, hungarian, sentence_translations.json
  2020/hamming-codes-2/hungarian/sentence_translations.json
Labels: Hungarian

Added contributor numbers to hamming-codes, hungarian, description.json
  2020/hamming-codes/hungarian/description.json
Labels: Hungarian

Added contributor numbers to hamming-codes, hungarian, sentence_translations.json
  2020/hamming-codes/hungarian/sentence_translations.json
Labels: Hungarian

Added contributor numbers to hamming-codes, spanish, description.json
  2020/hamming-codes/spanish/description.json
Labels: Spanish

Added contributor numbers to borwein, hindi, description.json
  2022/borwein/hindi/description.json
Labels: Hindi

Added contributor numbers to visual-proofs, french, sentence_translations.json
  2022/visual-proofs/french/sentence_translations.json
Labels: French

Added contributor numbers to barber-pole-1, hungarian, description.json
  2023/barber-pole-1/hungarian/description.json
Labels: Hungarian

Added contributor numbers to barber-pole-1, hungarian, sentence_translations.json
  2023/barber-pole-1/hungarian/sentence_translations.json
Labels: Hungarian

Added contributor numbers to barber-pole-1, korean, sentence_translations.json
  2023/barber-pole-1/korean/sentence_translations.json
Labels: Korean

Added contributor numbers to barber-pole-2, indonesian, sentence_translations.json
  2023/barber-pole-2/indonesian/sentence_translations.json
Labels: Indonesian

Added contributor numbers to ego-and-math, spanish, sentence_translations.json
  2023/ego-and-math/spanish/sentence_translations.json
Labels: Spanish

Added contributor numbers to gaussian-convolution, spanish, description.json
  2023/gaussian-convolution/spanish/description.json
Labels: Spanish

Added contributor numbers to gaussian-convolution, spanish, title.json
  2023/gaussian-convolution/spanish/title.json
Labels: Spanish

Added contributor numbers to gaussian-convolution, vietnamese, sentence_translations.json
  2023/gaussian-convolution/vietnamese/sentence_translations.json
Labels: Vietnamese

Added contributor numbers to gaussian-integral, hebrew, sentence_translations.json
  2023/gaussian-integral/hebrew/sentence_translations.json
Labels: Hebrew

Added contributor numbers to gaussian-integral, spanish, description.json
  2023/gaussian-integral/spanish/description.json
Labels: Spanish

Added contributor numbers to gaussian-integral, turkish, description.json
  2023/gaussian-integral/turkish/description.json
Labels: Turkish

Added contributor numbers to gaussian-integral, turkish, sentence_translations.json
  2023/gaussian-integral/turkish/sentence_translations.json
Labels: Turkish

Added contributor numbers to gaussian-integral, turkish, title.json
  2023/gaussian-integral/turkish/title.json
Labels: Turkish

Added contributor numbers to moser-reboot, french, sentence_translations.json
  2023/moser-reboot/french/sentence_translations.json
Labels: French

Added contributor numbers to prism, urdu, sentence_translations.json
  2023/prism/urdu/sentence_translations.json
Labels: Urdu

Added contributor numbers to newton-art-puzzle, french, sentence_translations.json
  2023/shorts/newton-art-puzzle/french/sentence_translations.json
Labels: French

Added contributor numbers to mandelbrot, bulgarian, description.json
  2024/shorts/mandelbrot/bulgarian/description.json
Labels: Bulgarian

Added contributor numbers to mandelbrot, bulgarian, title.json
  2024/shorts/mandelbrot/bulgarian/title.json
Labels: Bulgarian

Update 2017/neural-networks/german/sentence_translations.json
  2017/neural-networks/german/sentence_translations.json
Labels: German

Update 2017/neural-networks/german/sentence_translations.json
  2017/neural-networks/german/sentence_translations.json
Labels: German

Update 2017/neural-networks/german/sentence_translations.json
  2017/neural-networks/german/sentence_translations.json
Labels: German

Update 2017/neural-networks/german/sentence_translations.json
  2017/neural-networks/german/sentence_translations.json
Labels: German

Update 2017/neural-networks/german/sentence_translations.json
  2017/neural-networks/german/sentence_translations.json
Labels: German

Update 2017/neural-networks/german/sentence_translations.json
  2017/neural-networks/german/sentence_translations.json
Labels: German

Update 2017/neural-networks/german/sentence_translations.json
  2017/neural-networks/german/sentence_translations.json
Labels: German

Add dutch translations for clt, moser-reboot, prism
  2023/clt/dutch/auto_generated.srt
  2023/clt/dutch/description.json
  2023/clt/dutch/sentence_translations.json
  2023/clt/dutch/title.json
  2023/moser-reboot/dutch/auto_generated.srt
  2023/moser-reboot/dutch/description.json
  2023/moser-reboot/dutch/sentence_translations.json
  2023/moser-reboot/dutch/title.json
  2023/prism/dutch/auto_generated.srt
  2023/prism/dutch/description.json
  2023/prism/dutch/sentence_translations.json
  2023/prism/dutch/title.json
Labels: Dutch

incorp review comments
  app/bun.lockb
  app/package.json
  app/src/App.tsx
  app/src/components/Button.module.css
  app/src/components/Button.tsx
  app/src/components/Checkbox.tsx
  app/src/components/Select.tsx
  app/src/components/Textarea.tsx
  app/src/components/tooltip.ts
  app/src/data/topic-completion.json
  app/src/index.css
  app/src/pages/Edit.tsx
  app/src/pages/Home.tsx
  app/src/pages/edit/Captions.tsx
  app/src/pages/edit/Description.tsx
  app/src/pages/edit/Footer.module.css
  app/src/pages/edit/Footer.tsx
  app/src/pages/edit/Header.tsx
  app/src/pages/edit/Row.module.css
  app/src/pages/edit/Row.tsx
  app/src/pages/edit/Title.tsx
  app/src/pages/home/Badge.tsx
  app/src/pages/home/ByTopic.tsx
  app/src/pages/home/Search.module.css
  app/src/pages/home/Search.tsx
  app/src/util/animate.ts
  app/src/util/download.ts
  app/src/util/github.ts
  app/src/util/string.ts
  app/tsconfig.json
  app/update.ts
Labels: none

Added contributor numbers to mandelbrot, bulgarian, title.json
  2024/shorts/mandelbrot/bulgarian/title.json
Labels: Bulgarian

Add dutch translations for clt, moser-reboot, prism
  2023/clt/dutch/auto_generated.srt
  2023/clt/dutch/description.json
  2023/clt/dutch/sentence_translations.json
  2023/clt/dutch/title.json
  2023/moser-reboot/dutch/auto_generated.srt
  2023/moser-reboot/dutch/description.json
  2023/moser-reboot/dutch/sentence_translations.json
  2023/moser-reboot/dutch/title.json
  2023/prism/dutch/auto_generated.srt
  2023/prism/dutch/description.json
  2023/prism/dutch/sentence_translations.json
  2023/prism/dutch/title.json
Labels: Dutch

fixes
  app/src/pages/Edit.tsx
  app/src/pages/edit/Footer.tsx
  app/src/pages/edit/Row.tsx
Labels: none

.github/labeler.yml:

# This file was automatically generated by the labeler.sh script. Do not edit manually.

Albanian:
- changed-files:
  - any-glob-to-any-file: '**/albanian/*'

Arabic:
- changed-files:
  - any-glob-to-any-file: '**/arabic/*'

Bangla:
- changed-files:
  - any-glob-to-any-file: '**/bangla/*'

Bengali:
- changed-files:
  - any-glob-to-any-file: '**/bengali/*'

Bulgarian:
- changed-files:
  - any-glob-to-any-file: '**/bulgarian/*'

Catalan:
- changed-files:
  - any-glob-to-any-file: '**/catalan/*'

Chinese:
- changed-files:
  - any-glob-to-any-file: '**/chinese/*'

Croatian:
- changed-files:
  - any-glob-to-any-file: '**/croatian/*'

Czech:
- changed-files:
  - any-glob-to-any-file: '**/czech/*'

Danish:
- changed-files:
  - any-glob-to-any-file: '**/danish/*'

Dutch:
- changed-files:
  - any-glob-to-any-file: '**/dutch/*'

English:
- changed-files:
  - any-glob-to-any-file: '**/english/*'

Estonian:
- changed-files:
  - any-glob-to-any-file: '**/estonian/*'

Finnish:
- changed-files:
  - any-glob-to-any-file: '**/finnish/*'

French:
- changed-files:
  - any-glob-to-any-file: '**/french/*'

Georgian:
- changed-files:
  - any-glob-to-any-file: '**/georgian/*'

German:
- changed-files:
  - any-glob-to-any-file: '**/german/*'

Greek:
- changed-files:
  - any-glob-to-any-file: '**/greek/*'

Hebrew:
- changed-files:
  - any-glob-to-any-file: '**/hebrew/*'

Hindi:
- changed-files:
  - any-glob-to-any-file: '**/hindi/*'

Hungarian:
- changed-files:
  - any-glob-to-any-file: '**/hungarian/*'

Indonesian:
- changed-files:
  - any-glob-to-any-file: '**/indonesian/*'

Italian:
- changed-files:
  - any-glob-to-any-file: '**/italian/*'

Japanese:
- changed-files:
  - any-glob-to-any-file: '**/japanese/*'

Korean:
- changed-files:
  - any-glob-to-any-file: '**/korean/*'

Lithuanian:
- changed-files:
  - any-glob-to-any-file: '**/lithuanian/*'

Malay:
- changed-files:
  - any-glob-to-any-file: '**/malay/*'

Marathi:
- changed-files:
  - any-glob-to-any-file: '**/marathi/*'

Norwegian:
- changed-files:
  - any-glob-to-any-file: '**/norwegian/*'

Persian:
- changed-files:
  - any-glob-to-any-file: '**/persian/*'

Polish:
- changed-files:
  - any-glob-to-any-file: '**/polish/*'

Portuguese:
- changed-files:
  - any-glob-to-any-file: '**/portuguese/*'

Romanian:
- changed-files:
  - any-glob-to-any-file: '**/romanian/*'

Russian:
- changed-files:
  - any-glob-to-any-file: '**/russian/*'

Serbian:
- changed-files:
  - any-glob-to-any-file: '**/serbian/*'

Slovak:
- changed-files:
  - any-glob-to-any-file: '**/slovak/*'

Slovenian:
- changed-files:
  - any-glob-to-any-file: '**/slovenian/*'

Spanish:
- changed-files:
  - any-glob-to-any-file: '**/spanish/*'

Swedish:
- changed-files:
  - any-glob-to-any-file: '**/swedish/*'

Tagalog:
- changed-files:
  - any-glob-to-any-file: '**/tagalog/*'

Tamil:
- changed-files:
  - any-glob-to-any-file: '**/tamil/*'

Telugu:
- changed-files:
  - any-glob-to-any-file: '**/telugu/*'

Thai:
- changed-files:
  - any-glob-to-any-file: '**/thai/*'

Turkish:
- changed-files:
  - any-glob-to-any-file: '**/turkish/*'

Ukrainian:
- changed-files:
  - any-glob-to-any-file: '**/ukrainian/*'

Urdu:
- changed-files:
  - any-glob-to-any-file: '**/urdu/*'

Vietnamese:
- changed-files:
  - any-glob-to-any-file: '**/vietnamese/*'
