Repository 3b1b/captions, changes with the labels that .github/labeler.yml gives for each.
All labels: Albanian, Arabic, Bangla, Bengali, Bulgarian, Catalan, Chinese, Croatian, Czech, Danish, Dutch, English, Estonian, Finnish, French, Georgian, German, Greek, Hebrew, Hindi, Hungarian, Indonesian, Italian, Japanese, Korean, Lithuanian, Malay, Marathi, Norwegian, Persian, Polish, Portuguese, Romanian, Russian, Serbian, Slovak, Slovenian, Spanish, Swedish, Tagalog, Tamil, Telugu, Thai, Turkish, Ukrainian, Urdu, Vietnamese

Create srt files from recent updates
  2015/inventing-math/thai/auto_generated.srt
  2016/abstract-vector-spaces/russian/auto_generated.srt
  2017/backpropagation/vietnamese/auto_generated.srt
  2017/essence-of-calculus/dutch/auto_generated.srt
  2017/limits/portuguese/auto_generated.srt
  2019/bayes-theorem/gujarati/auto_generated.srt
  2019/clacks-solution/german/auto_generated.srt
  2020/hamming-codes-2/hungarian/auto_generated.srt
  2020/hamming-codes/hungarian/auto_generated.srt
  2020/hamming-codes/spanish/auto_generated.srt
  2022/visual-proofs/french/auto_generated.srt
  2023/barber-pole-1/hungarian/auto_generated.srt
  2023/barber-pole-1/korean/auto_generated.srt
  2023/barber-pole-1/russian/auto_generated.srt
  2023/barber-pole-2/indonesian/auto_generated.srt
  2023/ego-and-math/spanish/auto_generated.srt
  2023/gaussian-convolution/vietnamese/auto_generated.srt
  2023/gaussian-integral/turkish/auto_generated.srt
  2023/moser-reboot/french/auto_generated.srt
  2023/prism/urdu/auto_generated.srt
  2023/shorts/newton-art-puzzle/french/auto_generated.srt
  2024/shorts/cube-shadow-puzzle/french/auto_generated.srt
  2024/shorts/cube-shadow-puzzle/korean/auto_generated.srt
  2024/shorts/mandelbrot/french/auto_generated.srt
Labels: Dutch, French, German, Hungarian, Indonesian, Korean, Portuguese, Russian, Spanish, Thai, Turkish, Urdu, Vietnamese

Remove instructions for editing json
  README.md
Labels: none

Fix some formatting issues
  2016/vectors/bengali/auto_generated.srt
  2016/vectors/bengali/sentence_translations.json
  2022/wordle/german/auto_generated.srt
  2022/wordle/german/sentence_translations.json
  2023/clt/hebrew/auto_generated.srt
  2023/clt/hebrew/sentence_translations.json
  2023/gaussian-integral/hebrew/auto_generated.srt
  2023/gaussian-integral/hebrew/sentence_translations.json
Labels: Bengali, German, Hebrew

Added contributor numbers to gaussian-integral, french, sentence_translations.json
  2023/gaussian-integral/french/sentence_translations.json
Labels: French

Added contributor numbers to gaussian-convolution, german, sentence_translations.json
  2023/gaussian-convolution/german/sentence_translations.json
Labels: German

Added contributor numbers to fourier-transforms, russian, title.json
  2018/fourier-transforms/russian/title.json
Labels: Russian

Added contributor numbers to inventing-math, thai, title.json
  2015/inventing-math/thai/title.json
Labels: Thai

Added contributor numbers to clt, hebrew, sentence_translations.json
  2023/clt/hebrew/sentence_translations.json
Labels: Hebrew

Added contributor numbers to convolutions, italian, sentence_translations.json
  2022/convolutions/italian/sentence_translations.json
Labels: Italian

Added contributor numbers to cube-shadow-puzzle, french, sentence_translations.json
  2024/shorts/cube-shadow-puzzle/french/sentence_translations.json
Labels: French

Added contributor numbers to cube-shadow-puzzle, french, title.json
  2024/shorts/cube-shadow-puzzle/french/title.json
Labels: French

Added contributor numbers to mandelbrot, french, sentence_translations.json
  2024/shorts/mandelbrot/french/sentence_translations.json
Labels: French

Added contributor numbers to mandelbrot, french, title.json
  2024/shorts/mandelbrot/french/title.json
Labels: French

Added contributor numbers to subset-sum, french, sentence_translations.json
  2024/shorts/subset-sum/french/sentence_translations.json
Labels: French

Added contributor numbers to barber-pole-1, italian, description.json
  2023/barber-pole-1/italian/description.json
Labels: Italian

Added contributor numbers to barber-pole-1, italian, title.json
  2023/barber-pole-1/italian/title.json
Labels: Italian

Added contributor numbers to shadows, hindi, description.json
  2021/shadows/hindi/description.json
Labels: Hindi

Added contributor numbers to cube-shadow-puzzle, hindi, sentence_translations.json
  2024/shorts/cube-shadow-puzzle/hindi/sentence_translations.json
Labels: Hindi

Added contributor numbers to cube-shadow-puzzle, hindi, title.json
  2024/shorts/cube-shadow-puzzle/hindi/title.json
Labels: Hindi

Added contributor numbers to mandelbrot, hindi, title.json
  2024/shorts/mandelbrot/hindi/title.json
Labels: Hindi

Added contributor numbers to subset-sum, hindi, sentence_translations.json
  2024/shorts/subset-sum/hindi/sentence_translations.json
Labels: Hindi

Added contributor numbers to subset-sum, hindi, title.json
  2024/shorts/subset-sum/hindi/title.json
Labels: Hindi

Added contributor numbers to convolutions2, spanish, sentence_translations.json
  2023/convolutions2/spanish/sentence_translations.json
Labels: Spanish

Added contributor numbers to subset-sum, spanish, sentence_translations.json
  2024/shorts/subset-sum/spanish/sentence_translations.json
Labels: Spanish

Added contributor numbers to span, spanish, title.json
  2016/span/spanish/title.json
Labels: Spanish

Added contributor numbers to vectors, spanish, sentence_translations.json
  2016/vectors/spanish/sentence_translations.json
Labels: Spanish

Added contributor numbers to binary-counting, portuguese, title.json
  2015/binary-counting/portuguese/title.json
Labels: Portuguese

Added contributor numbers to newtons-fractal, portuguese, sentence_translations.json
  2021/newtons-fractal/portuguese/sentence_translations.json
Labels: Portuguese

Added contributor numbers to barber-pole-1, german, description.json
  2023/barber-pole-1/german/description.json
Labels: German

Added contributor numbers to barber-pole-1, german, sentence_translations.json
  2023/barber-pole-1/german/sentence_translations.json
Labels: German

Added contributor numbers to barber-pole-1, german, title.json
  2023/barber-pole-1/german/title.json
Labels: German

Added contributor numbers to cube-shadow-puzzle, german, sentence_translations.json
  2024/shorts/cube-shadow-puzzle/german/sentence_translations.json
Labels: German

Added contributor numbers to mandelbrot, german, sentence_translations.json
  2024/shorts/mandelbrot/german/sentence_translations.json
Labels: German

Added contributor numbers to gaussian-integral, hindi, sentence_translations.json
  2023/gaussian-integral/hindi/sentence_translations.json
Labels: Hindi

Added contributor numbers to binary-counting, hebrew, title.json
  2015/binary-counting/hebrew/title.json
Labels: Hebrew

Added contributor numbers to eulers-characteristic-formula, hebrew, title.json
  2015/eulers-characteristic-formula/hebrew/title.json
Labels: Hebrew

Added contributor numbers to 3d-transformations, hebrew, title.json
  2016/3d-transformations/hebrew/title.json
Labels: Hebrew

Added contributor numbers to cross-products-extended, hebrew, title.json
  2016/cross-products-extended/hebrew/title.json
Labels: Hebrew

Added contributor numbers to cross-products, hebrew, title.json
  2016/cross-products/hebrew/title.json
Labels: Hebrew

Added contributor numbers to determinant, hebrew, title.json
  2016/determinant/hebrew/title.json
Labels: Hebrew

.github/labeler.yml:

# This file was automatically generated by the labeler.sh script. Do not edit manually.

Albanian:
- changed-files:
  - any-glob-to-any-file: '**/albanian/*'

Arabic:
- changed-files:
  - any-glob-to-any-file: '**/arabic/*'

Bangla:
- changed-files:
  - any-glob-to-any-file: '**/bangla/*'

Bengali:
- changed-files:
  - any-glob-to-any-file: '**/bengali/*'

Bulgarian:
- changed-files:
  - any-glob-to-any-file: '**/bulgarian/*'

Catalan:
- changed-files:
  - any-glob-to-any-file: '**/catalan/*'

Chinese:
- changed-files:
  - any-glob-to-any-file: '**/chinese/*'

Croatian:
- changed-files:
  - any-glob-to-any-file: '**/croatian/*'

Czech:
- changed-files:
  - any-glob-to-any-file: '**/czech/*'

Danish:
- changed-files:
  - any-glob-to-any-file: '**/danish/*'

Dutch:
- changed-files:
  - any-glob-to-any-file: '**/dutch/*'

English:
- changed-files:
  - any-glob-to-any-file: '**/english/*'

Estonian:
- changed-files:
  - any-glob-to-any-file: '**/estonian/*'

Finnish:
- changed-files:
  - any-glob-to-any-file: '**/finnish/*'

French:
- changed-files:
  - any-glob-to-any-file: '**/french/*'

Georgian:
- changed-files:
  - any-glob-to-any-file: '**/georgian/*'

German:
- changed-files:
  - any-glob-to-any-file: '**/german/*'

Greek:
- changed-files:
  - any-glob-to-any-file: '**/greek/*'

Hebrew:
- changed-files:
  - any-glob-to-any-file: '**/hebrew/*'

Hindi:
- changed-files:
  - any-glob-to-any-file: '**/hindi/*'

Hungarian:
- changed-files:
  - any-glob-to-any-file: '**/hungarian/*'

Indonesian:
- changed-files:
  - any-glob-to-any-file: '**/indonesian/*'

Italian:
- changed-files:
  - any-glob-to-any-file: '**/italian/*'

Japanese:
- changed-files:
  - any-glob-to-any-file: '**/japanese/*'

Korean:
- changed-files:
  - any-glob-to-any-file: '**/korean/*'

Lithuanian:
- changed-files:
  - any-glob-to-any-file: '**/lithuanian/*'

Malay:
- changed-files:
  - any-glob-to-any-file: '**/malay/*'

Marathi:
- changed-files:
  - any-glob-to-any-file: '**/marathi/*'

Norwegian:
- changed-files:
  - any-glob-to-any-file: '**/norwegian/*'

Persian:
- changed-files:
  - any-glob-to-any-file: '**/persian/*'

Polish:
- changed-files:
  - any-glob-to-any-file: '**/polish/*'

Portuguese:
- changed-files:
  - any-glob-to-any-file: '**/portuguese/*'

Romanian:
- changed-files:
  - any-glob-to-any-file: '**/romanian/*'

Russian:
- changed-files:
  - any-glob-to-any-file: '**/russian/*'

Serbian:
- changed-files:
  - any-glob-to-any-file: '**/serbian/*'

Slovak:
- changed-files:
  - any-glob-to-any-file: '**/slovak/*'

Slovenian:
- changed-files:
  - any-glob-to-any-file: '**/slovenian/*'

Spanish:
- changed-files:
  - any-glob-to-any-file: '**/spanish/*'

Swedish:
- changed-files:
  - any-glob-to-any-file: '**/swedish/*'

Tagalog:
- changed-files:
  - any-glob-to-any-file: '**/tagalog/*'

Tamil:
- changed-files:
  - any-glob-to-any-file: '**/tamil/*'

Telugu:
- changed-files:
  - any-glob-to-any-file: '**/telugu/*'

Thai:
- changed-files:
  - any-glob-to-any-file: '**/thai/*'

Turkish:
- changed-files:
  - any-glob-to-any-file: '**/turkish/*'

Ukrainian:
- changed-files:
  - any-glob-to-any-file: '**/ukrainian/*'

Urdu:
- changed-files:
  - any-glob-to-any-file: '**/urdu/*'

Vietnamese:
- changed-files:
  - any-glob-to-any-file: '**/vietnamese/*'
