Repository 3b1b/captions, changes with the labels that .github/labeler.yml gives for each.
All labels: Albanian, Arabic, Bangla, Bengali, Bulgarian, Catalan, Chinese, Croatian, Czech, Danish, Dutch, English, Estonian, Finnish, French, Georgian, German, Greek, Hebrew, Hindi, Hungarian, Indonesian, Italian, Japanese, Korean, Lithuanian, Malay, Marathi, Norwegian, Persian, Polish, Portuguese, Romanian, Russian, Serbian, Slovak, Slovenian, Spanish, Swedish, Tagalog, Tamil, Telugu, Thai, Turkish, Ukrainian, Urdu, Vietnamese

Added contributor numbers to gaussian-integral, german, sentence_translations.json
  2023/gaussian-integral/german/sentence_translations.json
Labels: German

Added contributor numbers to refractive-index-questions, russian, sentence_translations.json
  2023/refractive-index-questions/russian/sentence_translations.json
Labels: Russian

Added contributor numbers to newton-art-puzzle, spanish, sentence_translations.json
  2023/shorts/newton-art-puzzle/spanish/sentence_translations.json
Labels: Spanish

Added contributor numbers to binary-counting, russian, title.json
  2015/binary-counting/russian/title.json
Labels: Russian

Added contributor numbers to eulers-characteristic-formula, marathi, sentence_translations.json
  2015/eulers-characteristic-formula/marathi/sentence_translations.json
Labels: Marathi

Added contributor numbers to inventing-math, italian, sentence_translations.json
  2015/inventing-math/italian/sentence_translations.json
Labels: Italian

Added contributor numbers to linear-transformations, spanish, description.json
  2016/linear-transformations/spanish/description.json
Labels: Spanish

Added contributor numbers to linear-transformations, spanish, sentence_translations.json
  2016/linear-transformations/spanish/sentence_translations.json
Labels: Spanish

Added contributor numbers to matrix-multiplication, spanish, description.json
  2016/matrix-multiplication/spanish/description.json
Labels: Spanish

Added contributor numbers to matrix-multiplication, spanish, sentence_translations.json
  2016/matrix-multiplication/spanish/sentence_translations.json
Labels: Spanish

Added contributor numbers to hardest-problem, korean, title.json
  2017/hardest-problem/korean/title.json
Labels: Korean

Added contributor numbers to pi-was-628, korean, title.json
  2018/pi-was-628/korean/title.json
Labels: Korean

Added contributor numbers to hamming-codes, spanish, sentence_translations.json
  2020/hamming-codes/spanish/sentence_translations.json
Labels: Spanish

Added contributor numbers to barber-pole-1, persian, sentence_translations.json
  2023/barber-pole-1/persian/sentence_translations.json
Labels: Persian

Added contributor numbers to prism, german, sentence_translations.json
  2023/prism/german/sentence_translations.json
Labels: German

Added contributor numbers to refractive-index-questions, french, description.json
  2023/refractive-index-questions/french/description.json
Labels: French

Added contributor numbers to refractive-index-questions, french, sentence_translations.json
  2023/refractive-index-questions/french/sentence_translations.json
Labels: French

Added contributor numbers to refractive-index-questions, french, title.json
  2023/refractive-index-questions/french/title.json
Labels: French

Added contributor numbers to cube-shadow-puzzle, chinese, sentence_translations.json
  2024/shorts/cube-shadow-puzzle/chinese/sentence_translations.json
Labels: Chinese

Added contributor numbers to cube-shadow-puzzle, korean, sentence_translations.json
  2024/shorts/cube-shadow-puzzle/korean/sentence_translations.json
Labels: Korean

Added contributor numbers to cube-shadow-puzzle, korean, title.json
  2024/shorts/cube-shadow-puzzle/korean/title.json
Labels: Korean

Added contributor numbers to clacks-solution, german, sentence_translations.json
  2019/clacks-solution/german/sentence_translations.json
Labels: German

Added contributor numbers to prism, hindi, description.json
  2023/prism/hindi/description.json
Labels: Hindi

Added contributor numbers to prism, hindi, sentence_translations.json
  2023/prism/hindi/sentence_translations.json
Labels: Hindi

Added contributor numbers to prism, hindi, title.json
  2023/prism/hindi/title.json
Labels: Hindi

Added contributor numbers to ego-and-math, german, sentence_translations.json
  2023/ego-and-math/german/sentence_translations.json
Labels: German

Added contributor numbers to how-they-fool-ya, german, title.json
  2023/how-they-fool-ya/german/title.json
Labels: German

Added contributor numbers to some3-results, german, title.json
  2023/some3-results/german/title.json
Labels: German

Added contributor numbers to mandelbrot, german, description.json
  2024/shorts/mandelbrot/german/description.json
Labels: German

Added contributor numbers to binary-counting, german, title.json
  2015/binary-counting/german/title.json
Labels: German

Added contributor numbers to inventing-math, thai, sentence_translations.json
  2015/inventing-math/thai/sentence_translations.json
Labels: Thai

Added contributor numbers to abstract-vector-spaces, russian, description.json
  2016/abstract-vector-spaces/russian/description.json
Labels: Russian

Added contributor numbers to abstract-vector-spaces, russian, sentence_translations.json
  2016/abstract-vector-spaces/russian/sentence_translations.json
Labels: Russian

Added contributor numbers to vectors, bengali, sentence_translations.json
  2016/vectors/bengali/sentence_translations.json
Labels: Bengali

Added contributor numbers to vectors, thai, description.json
  2016/vectors/thai/description.json
Labels: Thai

Added contributor numbers to backpropagation, vietnamese, description.json
  2017/backpropagation/vietnamese/description.json
Labels: Vietnamese

Added contributor numbers to backpropagation, vietnamese, sentence_translations.json
  2017/backpropagation/vietnamese/sentence_translations.json
Labels: Vietnamese

Added contributor numbers to essence-of-calculus, dutch, sentence_translations.json
  2017/essence-of-calculus/dutch/sentence_translations.json
Labels: Dutch

Added contributor numbers to essence-of-calculus, hungarian, description.json
  2017/essence-of-calculus/hungarian/description.json
Labels: Hungarian

Added contributor numbers to limits, portuguese, sentence_translations.json
  2017/limits/portuguese/sentence_translations.json
Labels: Portuguese

.github/labeler.yml:

# This file was automatically generated by the labeler.sh script. Do not edit manually.

Albanian:
- changed-files:
  - any-glob-to-any-file: '**/albanian/*'

Arabic:
- changed-files:
  - any-glob-to-any-file: '**/arabic/*'

Bangla:
- changed-files:
  - any-glob-to-any-file: '**/bangla/*'

Bengali:
- changed-files:
  - any-glob-to-any-file: '**/bengali/*'

Bulgarian:
- changed-files:
  - any-glob-to-any-file: '**/bulgarian/*'

Catalan:
- changed-files:
  - any-glob-to-any-file: '**/catalan/*'

Chinese:
- changed-files:
  - any-glob-to-any-file: '**/chinese/*'

Croatian:
- changed-files:
  - any-glob-to-any-file: '**/croatian/*'

Czech:
- changed-files:
  - any-glob-to-any-file: '**/czech/*'

Danish:
- changed-files:
  - any-glob-to-any-file: '**/danish/*'

Dutch:
- changed-files:
  - any-glob-to-any-file: '**/dutch/*'

English:
- changed-files:
  - any-glob-to-any-file: '**/english/*'

Estonian:
- changed-files:
  - any-glob-to-any-file: '**/estonian/*'

Finnish:
- changed-files:
  - any-glob-to-any-file: '**/finnish/*'

French:
- changed-files:
  - any-glob-to-any-file: '**/french/*'

Georgian:
- changed-files:
  - any-glob-to-any-file: '**/georgian/*'

German:
- changed-files:
  - any-glob-to-any-file: '**/german/*'

Greek:
- changed-files:
  - any-glob-to-any-file: '**/greek/*'

Hebrew:
- changed-files:
  - any-glob-to-any-file: '**/hebrew/*'

Hindi:
- changed-files:
  - any-glob-to-any-file: '**/hindi/*'

Hungarian:
- changed-files:
  - any-glob-to-any-file: '**/hungarian/*'

Indonesian:
- changed-files:
  - any-glob-to-any-file: '**/indonesian/*'

Italian:
- changed-files:
  - any-glob-to-any-file: '**/italian/*'

Japanese:
- changed-files:
  - any-glob-to-any-file: '**/japanese/*'

Korean:
- changed-files:
  - any-glob-to-any-file: '**/korean/*'

Lithuanian:
- changed-files:
  - any-glob-to-any-file: '**/lithuanian/*'

Malay:
- changed-files:
  - any-glob-to-any-file: '**/malay/*'

Marathi:
- changed-files:
  - any-glob-to-any-file: '**/marathi/*'

Norwegian:
- changed-files:
  - any-glob-to-any-file: '**/norwegian/*'

Persian:
- changed-files:
  - any-glob-to-any-file: '**/persian/*'

Polish:
- changed-files:
  - any-glob-to-any-file: '**/polish/*'

Portuguese:
- changed-files:
  - any-glob-to-any-file: '**/portuguese/*'

Romanian:
- changed-files:
  - any-glob-to-any-file: '**/romanian/*'

Russian:
- changed-files:
  - any-glob-to-any-file: '**/russian/*'

Serbian:
- changed-files:
  - any-glob-to-any-file: '**/serbian/*'

Slovak:
- changed-files:
  - any-glob-to-any-file: '**/slovak/*'

Slovenian:
- changed-files:
  - any-glob-to-any-file: '**/slovenian/*'

Spanish:
- changed-files:
  - any-glob-to-any-file: '**/spanish/*'

Swedish:
- changed-files:
  - any-glob-to-any-file: '**/swedish/*'

Tagalog:
- changed-files:
  - any-glob-to-any-file: '**/tagalog/*'

Tamil:
- changed-files:
  - any-glob-to-any-file: '**/tamil/*'

Telugu:
- changed-files:
  - any-glob-to-any-file: '**/telugu/*'

Thai:
- changed-files:
  - any-glob-to-any-file: '**/thai/*'

Turkish:
- changed-files:
  - any-glob-to-any-file: '**/turkish/*'

Ukrainian:
- changed-files:
  - any-glob-to-any-file: '**/ukrainian/*'

Urdu:
- changed-files:
  - any-glob-to-any-file: '**/urdu/*'

Vietnamese:
- changed-files:
  - any-glob-to-any-file: '**/vietnamese/*'
