Repository 3b1b/captions, changes with the labels that .github/labeler.yml gives for each.
All labels: Albanian, Arabic, Bangla, Bengali, Bulgarian, Catalan, Chinese, Croatian, Czech, Danish, Dutch, English, Estonian, Finnish, French, Georgian, German, Greek, Hebrew, Hindi, Hungarian, Indonesian, Italian, Japanese, Korean, Lithuanian, Malay, Marathi, Norwegian, Persian, Polish, Portuguese, Romanian, Russian, Serbian, Slovak, Slovenian, Spanish, Swedish, Tagalog, Tamil, Telugu, Thai, Turkish, Ukrainian, Urdu, Vietnamese

Added contributor numbers to ldm-quadratic, hebrew, title.json
  2020/ldm-quadratic/hebrew/title.json
Labels: Hebrew

Added contributor numbers to ldm-tips-to-problem-solving, hebrew, title.json
  2020/ldm-tips-to-problem-solving/hebrew/title.json
Labels: Hebrew

Added contributor numbers to ldm-trigonometry, hebrew, title.json
  2020/ldm-trigonometry/hebrew/title.json
Labels: Hebrew

Added contributor numbers to lockdown-math-announcement, hebrew, title.json
  2020/lockdown-math-announcement/hebrew/title.json
Labels: Hebrew

Added contributor numbers to holomorphic-dynamics, hebrew, title.json
  2021/holomorphic-dynamics/hebrew/title.json
Labels: Hebrew

Added contributor numbers to matrix-exponents, hebrew, title.json
  2021/matrix-exponents/hebrew/title.json
Labels: Hebrew

Added contributor numbers to newtons-fractal, german, description.json
  2021/newtons-fractal/german/description.json
Labels: German

Added contributor numbers to newtons-fractal, german, sentence_translations.json
  2021/newtons-fractal/german/sentence_translations.json
Labels: German

Added contributor numbers to newtons-fractal, german, title.json
  2021/newtons-fractal/german/title.json
Labels: German

Added contributor numbers to newtons-fractal, hebrew, title.json
  2021/newtons-fractal/hebrew/title.json
Labels: Hebrew

Added contributor numbers to shadows, hebrew, title.json
  2021/shadows/hebrew/title.json
Labels: Hebrew

Added contributor numbers to some1-results, hebrew, title.json
  2021/some1-results/hebrew/title.json
Labels: Hebrew

Added contributor numbers to borwein, hebrew, title.json
  2022/borwein/hebrew/title.json
Labels: Hebrew

Added contributor numbers to convolutions, hebrew, title.json
  2022/convolutions/hebrew/title.json
Labels: Hebrew

Added contributor numbers to some2-results, hebrew, title.json
  2022/some2-results/hebrew/title.json
Labels: Hebrew

Added contributor numbers to some2, hebrew, title.json
  2022/some2/hebrew/title.json
Labels: Hebrew

Added contributor numbers to subsets-puzzle, hebrew, title.json
  2022/subsets-puzzle/hebrew/title.json
Labels: Hebrew

Added contributor numbers to visual-proofs, portuguese, sentence_translations.json
  2022/visual-proofs/portuguese/sentence_translations.json
Labels: Portuguese

Added contributor numbers to barber-pole-1, hebrew, title.json
  2023/barber-pole-1/hebrew/title.json
Labels: Hebrew

Added contributor numbers to barber-pole-1, indonesian, sentence_translations.json
  2023/barber-pole-1/indonesian/sentence_translations.json
Labels: Indonesian

Added contributor numbers to barber-pole-1, russian, sentence_translations.json
  2023/barber-pole-1/russian/sentence_translations.json
Labels: Russian

Added contributor numbers to barber-pole-1, russian, title.json
  2023/barber-pole-1/russian/title.json
Labels: Russian

Added contributor numbers to barber-pole-1, spanish, sentence_translations.json
  2023/barber-pole-1/spanish/sentence_translations.json
Labels: Spanish

Added contributor numbers to barber-pole-2, hebrew, title.json
  2023/barber-pole-2/hebrew/title.json
Labels: Hebrew

Added contributor numbers to clt, hebrew, title.json
  2023/clt/hebrew/title.json
Labels: Hebrew

Added contributor numbers to clt, hindi, sentence_translations.json
  2023/clt/hindi/sentence_translations.json
Labels: Hindi

Added contributor numbers to convolutions2, hebrew, title.json
  2023/convolutions2/hebrew/title.json
Labels: Hebrew

Added contributor numbers to gaussian-convolution, hebrew, title.json
  2023/gaussian-convolution/hebrew/title.json
Labels: Hebrew

Added contributor numbers to gaussian-integral, hebrew, title.json
  2023/gaussian-integral/hebrew/title.json
Labels: Hebrew

Added contributor numbers to how-they-fool-ya, hebrew, title.json
  2023/how-they-fool-ya/hebrew/title.json
Labels: Hebrew

Added contributor numbers to moser-reboot, hebrew, title.json
  2023/moser-reboot/hebrew/title.json
Labels: Hebrew

Added contributor numbers to refractive-index-questions, hebrew, title.json
  2023/refractive-index-questions/hebrew/title.json
Labels: Hebrew

Added contributor numbers to some3-results, hebrew, title.json
  2023/some3-results/hebrew/title.json
Labels: Hebrew

Added contributor numbers to mandelbrot, hebrew, title.json
  2024/shorts/mandelbrot/hebrew/title.json
Labels: Hebrew

Added contributor numbers to mandelbrot, spanish, sentence_translations.json
  2024/shorts/mandelbrot/spanish/sentence_translations.json
Labels: Spanish

Added contributor numbers to span, spanish, sentence_translations.json
  2016/span/spanish/sentence_translations.json
Labels: Spanish

Added contributor numbers to tattoos-on-math, spanish, sentence_translations.json
  2017/tattoos-on-math/spanish/sentence_translations.json
Labels: Spanish

Added contributor numbers to clacks, bengali, sentence_translations.json
  2019/clacks/bengali/sentence_translations.json
Labels: Bengali

Added contributor numbers to better-bayes, russian, sentence_translations.json
  2020/better-bayes/russian/sentence_translations.json
Labels: Russian

Added contributor numbers to wordle, german, sentence_translations.json
  2022/wordle/german/sentence_translations.json
Labels: German

.github/labeler.yml:

# This file was automatically generated by the labeler.sh script. Do not edit manually.

Albanian:
- changed-files:
  - any-glob-to-any-file: '**/albanian/*'

Arabic:
- changed-files:
  - any-glob-to-any-file: '**/arabic/*'

Bangla:
- changed-files:
  - any-glob-to-any-file: '**/bangla/*'

Bengali:
- changed-files:
  - any-glob-to-any-file: '**/bengali/*'

Bulgarian:
- changed-files:
  - any-glob-to-any-file: '**/bulgarian/*'

Catalan:
- changed-files:
  - any-glob-to-any-file: '**/catalan/*'

Chinese:
- changed-files:
  - any-glob-to-any-file: '**/chinese/*'

Croatian:
- changed-files:
  - any-glob-to-any-file: '**/croatian/*'

Czech:
- changed-files:
  - any-glob-to-any-file: '**/czech/*'

Danish:
- changed-files:
  - any-glob-to-any-file: '**/danish/*'

Dutch:
- changed-files:
  - any-glob-to-any-file: '**/dutch/*'

English:
- changed-files:
  - any-glob-to-any-file: '**/english/*'

Estonian:
- changed-files:
  - any-glob-to-any-file: '**/estonian/*'

Finnish:
- changed-files:
  - any-glob-to-any-file: '**/finnish/*'

French:
- changed-files:
  - any-glob-to-any-file: '**/french/*'

Georgian:
- changed-files:
  - any-glob-to-any-file: '**/georgian/*'

German:
- changed-files:
  - any-glob-to-any-file: '**/german/*'

Greek:
- changed-files:
  - any-glob-to-any-file: '**/greek/*'

Hebrew:
- changed-files:
  - any-glob-to-any-file: '**/hebrew/*'

Hindi:
- changed-files:
  - any-glob-to-any-file: '**/hindi/*'

Hungarian:
- changed-files:
  - any-glob-to-any-file: '**/hungarian/*'

Indonesian:
- changed-files:
  - any-glob-to-any-file: '**/indonesian/*'

Italian:
- changed-files:
  - any-glob-to-any-file: '**/italian/*'

Japanese:
- changed-files:
  - any-glob-to-any-file: '**/japanese/*'

Korean:
- changed-files:
  - any-glob-to-any-file: '**/korean/*'

Lithuanian:
- changed-files:
  - any-glob-to-any-file: '**/lithuanian/*'

Malay:
- changed-files:
  - any-glob-to-any-file: '**/malay/*'

Marathi:
- changed-files:
  - any-glob-to-any-file: '**/marathi/*'

Norwegian:
- changed-files:
  - any-glob-to-any-file: '**/norwegian/*'

Persian:
- changed-files:
  - any-glob-to-any-file: '**/persian/*'

Polish:
- changed-files:
  - any-glob-to-any-file: '**/polish/*'

Portuguese:
- changed-files:
  - any-glob-to-any-file: '**/portuguese/*'

Romanian:
- changed-files:
  - any-glob-to-any-file: '**/romanian/*'

Russian:
- changed-files:
  - any-glob-to-any-file: '**/russian/*'

Serbian:
- changed-files:
  - any-glob-to-any-file: '**/serbian/*'

Slovak:
- changed-files:
  - any-glob-to-any-file: '**/slovak/*'

Slovenian:
- changed-files:
  - any-glob-to-any-file: '**/slovenian/*'

Spanish:
- changed-files:
  - any-glob-to-any-file: '**/spanish/*'

Swedish:
- changed-files:
  - any-glob-to-any-file: '**/swedish/*'

Tagalog:
- changed-files:
  - any-glob-to-any-file: '**/tagalog/*'

Tamil:
- changed-files:
  - any-glob-to-any-file: '**/tamil/*'

Telugu:
- changed-files:
  - any-glob-to-any-file: '**/telugu/*'

Thai:
- changed-files:
  - any-glob-to-any-file: '**/thai/*'

Turkish:
- changed-files:
  - any-glob-to-any-file: '**/turkish/*'

Ukrainian:
- changed-files:
  - any-glob-to-any-file: '**/ukrainian/*'

Urdu:
- changed-files:
  - any-glob-to-any-file: '**/urdu/*'

Vietnamese:
- changed-files:
  - any-glob-to-any-file: '**/vietnamese/*'
