Repository 3b1b/captions, pull requests merged in 2024-03, with the labels that each got.

#235 Edit "essence-of-calculus (italian)" by alberto alessi
  2017/essence-of-calculus/italian/description.json
  2017/essence-of-calculus/italian/sentence_translations.json
  2017/essence-of-calculus/italian/title.json
Labels: Italian, app

#237 Updating english language translation to match the audio.
  2020/better-bayes/english/transcript.txt
Labels: English

#238 Edit "essence-of-calculus (italian)" by @Deye27
  2017/essence-of-calculus/italian/description.json
  2017/essence-of-calculus/italian/sentence_translations.json
  2017/essence-of-calculus/italian/title.json
Labels: Italian, app

#239 Edit "essence-of-calculus (dutch)" by @LFWarsen
  2017/essence-of-calculus/dutch/description.json
  2017/essence-of-calculus/dutch/sentence_translations.json
  2017/essence-of-calculus/dutch/title.json
Labels: Dutch, app

#240 Edit "essence-of-calculus (vietnamese)" by @ngvutuan2811
  2017/essence-of-calculus/vietnamese/description.json
  2017/essence-of-calculus/vietnamese/sentence_translations.json
  2017/essence-of-calculus/vietnamese/title.json
Labels: Vietnamese, app

#243 Edit "differential-equations (vietnamese)" by @ngvutuan2811
  2019/differential-equations/vietnamese/description.json
  2019/differential-equations/vietnamese/sentence_translations.json
  2019/differential-equations/vietnamese/title.json
Labels: Vietnamese, app

#244 Edit "essence-of-calculus (hindi)" by Vinayak
  2017/essence-of-calculus/hindi/description.json
  2017/essence-of-calculus/hindi/sentence_translations.json
  2017/essence-of-calculus/hindi/title.json
Labels: Hindi, app

#245 Edit "derivatives (dutch)" by @LFWarsen
  2017/derivatives/dutch/description.json
  2017/derivatives/dutch/sentence_translations.json
  2017/derivatives/dutch/title.json
Labels: Dutch, app

#246 Edit "derivatives (italian)" by mulstato
  2017/derivatives/italian/description.json
  2017/derivatives/italian/sentence_translations.json
  2017/derivatives/italian/title.json
Labels: Italian, app

#247 Edit "hamming-codes-2 (hungarian)" by @FaboBence
  2020/hamming-codes-2/hungarian/sentence_translations.json
Labels: Hungarian, app

#249 Fix hamming transcriptions
  2020/hamming-codes-2/arabic/sentence_translations.json
  2020/hamming-codes-2/bengali/sentence_translations.json
  2020/hamming-codes-2/chinese/sentence_translations.json
  2020/hamming-codes-2/english/captions.srt
  2020/hamming-codes-2/english/sentence_timings.json
  2020/hamming-codes-2/english/transcript.txt
  2020/hamming-codes-2/french/sentence_translations.json
  2020/hamming-codes-2/german/sentence_translations.json
  2020/hamming-codes-2/hebrew/sentence_translations.json
  2020/hamming-codes-2/hindi/sentence_translations.json
  2020/hamming-codes-2/hungarian/sentence_translations.json
  2020/hamming-codes-2/indonesian/sentence_translations.json
  2020/hamming-codes-2/italian/sentence_translations.json
  2020/hamming-codes-2/japanese/sentence_translations.json
  2020/hamming-codes-2/korean/sentence_translations.json
  2020/hamming-codes-2/marathi/sentence_translations.json
  2020/hamming-codes-2/persian/sentence_translations.json
  2020/hamming-codes-2/portuguese/sentence_translations.json
  2020/hamming-codes-2/russian/sentence_translations.json
  2020/hamming-codes-2/spanish/sentence_translations.json
  2020/hamming-codes-2/tamil/sentence_translations.json
  2020/hamming-codes-2/telugu/sentence_translations.json
  2020/hamming-codes-2/thai/sentence_translations.json
  2020/hamming-codes-2/turkish/sentence_translations.json
  2020/hamming-codes-2/ukrainian/sentence_translations.json
  2020/hamming-codes-2/urdu/sentence_translations.json
  2020/hamming-codes-2/vietnamese/sentence_translations.json
  2020/hamming-codes/english/captions.srt
  2020/hamming-codes/english/sentence_timings.json
  2020/hamming-codes/english/transcript.txt
Labels: German, Hebrew, Hungarian, Spanish, Indonesian, Hindi, Portuguese, French, Vietnamese, Turkish, Urdu, Italian, Russian, Korean, Arabic, Chinese, English, Japanese, Persian, Thai, Ukrainian, Bengali, Marathi, Tamil, Telugu

#248 Edit "clacks (italian)" by @Deye27
  2019/clacks/italian/description.json
  2019/clacks/italian/sentence_translations.json
  2019/clacks/italian/title.json
Labels: Italian, app

#251 Edit "derivatives (italian)" by @Deye27
  2017/derivatives/italian/sentence_translations.json
Labels: Italian, app

#304 Edit "span (italian)" by @francescoocurcio
  2016/span/italian/description.json
  2016/span/italian/sentence_translations.json
  2016/span/italian/title.json
Labels: Italian, app

#302 Edit "256-bit-security (dutch)" by @bvdeijzen
  2017/256-bit-security/dutch/description.json
  2017/256-bit-security/dutch/sentence_translations.json
  2017/256-bit-security/dutch/title.json
Labels: Dutch, app

#277 Edit "256-bit-security (italian)" by retr00h
  2017/256-bit-security/italian/description.json
  2017/256-bit-security/italian/sentence_translations.json
  2017/256-bit-security/italian/title.json
Labels: Italian, app

#276 Modified transcript.txt of wallis-product/english
  2018/wallis-product/english/transcript.txt
Labels: English

#275 Edit "bayes-theorem (italian)" by @crampaldo
  2019/bayes-theorem/italian/description.json
  2019/bayes-theorem/italian/sentence_translations.json
  2019/bayes-theorem/italian/title.json
Labels: Italian, app

#274 Edit "vectors (italian)" by mattiacolucci
  2016/vectors/italian/description.json
  2016/vectors/italian/sentence_translations.json
  2016/vectors/italian/title.json
Labels: Italian, app

#273 Edit "nonsquare-matrices (vietnamese)" by @ngvutuan2811
  2016/nonsquare-matrices/vietnamese/description.json
  2016/nonsquare-matrices/vietnamese/sentence_translations.json
  2016/nonsquare-matrices/vietnamese/title.json
Labels: Vietnamese, app

#272 Edit "neural-networks (german)" by @fpgro
  2017/neural-networks/german/description.json
  2017/neural-networks/german/sentence_translations.json
  2017/neural-networks/german/title.json
Labels: German, app

#278 Edit "essence-of-calculus (dutch)" by @LFWarsen
  2017/essence-of-calculus/dutch/sentence_translations.json
Labels: Dutch, app

#269 Edit "derivative-formulas-geometrically (italian)" by @Deye27
  2017/derivative-formulas-geometrically/italian/description.json
  2017/derivative-formulas-geometrically/italian/sentence_translations.json
  2017/derivative-formulas-geometrically/italian/title.json
Labels: Italian, app

#267 Edit "convolutions2 (hebrew)" by @DavidBar-On
  2023/convolutions2/hebrew/description.json
  2023/convolutions2/hebrew/sentence_translations.json
  2023/convolutions2/hebrew/title.json
Labels: Hebrew, app

#271 Edit "neural-networks (italian)" by @teobucci
  2017/neural-networks/italian/description.json
  2017/neural-networks/italian/sentence_translations.json
Labels: Italian, app

#264 Updating the English transciprt to match with the audio.
  2023/some3-results/english/transcript.txt
Labels: English

#253 Edit "span (vietnamese)" by @ngvutuan2811
  2016/span/vietnamese/description.json
  2016/span/vietnamese/sentence_translations.json
  2016/span/vietnamese/title.json
Labels: Vietnamese, app

#262 Edit "groups-and-monsters (italian)" by mulstato
  2020/groups-and-monsters/italian/description.json
  2020/groups-and-monsters/italian/sentence_translations.json
  2020/groups-and-monsters/italian/title.json
Labels: Italian, app

#254 Edit "linear-transformations (vietnamese)" by @ngvutuan2811
  2016/linear-transformations/vietnamese/description.json
  2016/linear-transformations/vietnamese/sentence_translations.json
  2016/linear-transformations/vietnamese/title.json
Labels: Vietnamese, app

#255 "Better bayes" french captions complete review
  2020/better-bayes/french/sentence_translations.json
  2020/better-bayes/french/title.json
Labels: French

#256 Edit "dot-products (vietnamese)" by @ngvutuan2811
  2016/dot-products/vietnamese/description.json
  2016/dot-products/vietnamese/sentence_translations.json
  2016/dot-products/vietnamese/title.json
Labels: Vietnamese, app

#257 Edit "cross-products (vietnamese)" by @ngvutuan2811
  2016/cross-products/vietnamese/description.json
  2016/cross-products/vietnamese/sentence_translations.json
  2016/cross-products/vietnamese/title.json
Labels: Vietnamese, app

#258 Edit "change-of-basis (vietnamese)" by @ngvutuan2811
  2016/change-of-basis/vietnamese/description.json
  2016/change-of-basis/vietnamese/sentence_translations.json
  2016/change-of-basis/vietnamese/title.json
Labels: Vietnamese, app

#259 Edit "inventing-math (thai)" by @korakot
  2015/inventing-math/thai/description.json
  2015/inventing-math/thai/sentence_translations.json
  2015/inventing-math/thai/title.json
Labels: Thai, app

#260 Edit "fourier-transforms (vietnamese)" by @ngvutuan2811
  2018/fourier-transforms/vietnamese/description.json
  2018/fourier-transforms/vietnamese/sentence_translations.json
  2018/fourier-transforms/vietnamese/title.json
Labels: Vietnamese, app

#261 Edit "moser-reboot (thai)" by @korakot
  2023/moser-reboot/thai/description.json
  2023/moser-reboot/thai/sentence_translations.json
  2023/moser-reboot/thai/title.json
Labels: Thai, app

#263 Edit "barber-pole-1 (korean)" by @tebaioioo
  2023/barber-pole-1/korean/description.json
  2023/barber-pole-1/korean/sentence_translations.json
  2023/barber-pole-1/korean/title.json
Labels: Korean, app

#266 Edit "vectors (arabic)" by @Cewkins, Hazem
  2016/vectors/arabic/description.json
  2016/vectors/arabic/sentence_translations.json
  2016/vectors/arabic/title.json
Labels: Arabic, app

#279 Edit "higher-order-derivatives (italian)" by @hi-anji
  2017/higher-order-derivatives/italian/description.json
  2017/higher-order-derivatives/italian/sentence_translations.json
  2017/higher-order-derivatives/italian/title.json
Labels: Italian, app

#280 Edit "chain-rule-and-product-rule (italian)" by @adilatte
  2017/chain-rule-and-product-rule/italian/description.json
  2017/chain-rule-and-product-rule/italian/sentence_translations.json
  2017/chain-rule-and-product-rule/italian/title.json
Labels: Italian, app

#281 Edit "essence-of-calculus (italian)" by @hi-anji
  2017/essence-of-calculus/italian/description.json
  2017/essence-of-calculus/italian/sentence_translations.json
  2017/essence-of-calculus/italian/title.json
Labels: Italian, app

#282 Edit "clacks (italian)" by @hi-anji
  2019/clacks/italian/description.json
  2019/clacks/italian/sentence_translations.json
  2019/clacks/italian/title.json
Labels: Italian, app

#283 eulers number - translation edit
  2017/eulers-number/italian/description.json
  2017/eulers-number/italian/sentence_translations.json
  2017/eulers-number/italian/title.json
  2017/implicit-differentiation/italian/description.json
  2017/implicit-differentiation/italian/sentence_translations.json
  2017/implicit-differentiation/italian/title.json
Labels: Italian

#284 Edit "essence-of-calculus (vietnamese)" by @ngvutuan2811
  2017/essence-of-calculus/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#285 Edit "derivatives (vietnamese)" by @ngvutuan2811
  2017/derivatives/vietnamese/description.json
  2017/derivatives/vietnamese/sentence_translations.json
  2017/derivatives/vietnamese/title.json
Labels: Vietnamese, app

#286 Edit "derivative-formulas-geometrically (vietnamese)" by @ngvutuan2811
  2017/derivative-formulas-geometrically/vietnamese/description.json
  2017/derivative-formulas-geometrically/vietnamese/sentence_translations.json
  2017/derivative-formulas-geometrically/vietnamese/title.json
Labels: Vietnamese, app

#287 Edit "derivatives (dutch)" by @LFWarsen
  2017/derivatives/dutch/description.json
  2017/derivatives/dutch/sentence_translations.json
Labels: Dutch, app

#288 Edit "chain-rule-and-product-rule (vietnamese)" by @ngvutuan2811
  2017/chain-rule-and-product-rule/vietnamese/description.json
  2017/chain-rule-and-product-rule/vietnamese/sentence_translations.json
  2017/chain-rule-and-product-rule/vietnamese/title.json
Labels: Vietnamese, app

#289 Edit "eulers-number (vietnamese)" by @ngvutuan2811
  2017/eulers-number/vietnamese/description.json
  2017/eulers-number/vietnamese/sentence_translations.json
  2017/eulers-number/vietnamese/title.json
Labels: Vietnamese, app

#290 Edit "eulers-formula-dynamically (vietnamese)" by @ngvutuan2811
  2019/eulers-formula-dynamically/vietnamese/description.json
  2019/eulers-formula-dynamically/vietnamese/sentence_translations.json
  2019/eulers-formula-dynamically/vietnamese/title.json
Labels: Vietnamese, app

#291 Edit "cross-products-extended (vietnamese)" by @ngvutuan2811
  2016/cross-products-extended/vietnamese/description.json
  2016/cross-products-extended/vietnamese/sentence_translations.json
  2016/cross-products-extended/vietnamese/title.json
Labels: Vietnamese, app

#292 Edit "span (arabic)" by @Cewkins, Hazem
  2016/span/arabic/description.json
  2016/span/arabic/sentence_translations.json
  2016/span/arabic/title.json
Labels: Arabic, app

#295 Edit "essence-of-calculus (spanish)" by @agustin-j
  2017/essence-of-calculus/spanish/description.json
  2017/essence-of-calculus/spanish/sentence_translations.json
  2017/essence-of-calculus/spanish/title.json
Labels: Spanish, app

#297 Edit "gradient-descent (italian)" by @teobucci
  2017/gradient-descent/italian/description.json
  2017/gradient-descent/italian/sentence_translations.json
  2017/gradient-descent/italian/title.json
Labels: Italian, app

#298 Edit "matrix-multiplication (vietnamese)" by @ngvutuan2811
  2016/matrix-multiplication/vietnamese/description.json
  2016/matrix-multiplication/vietnamese/sentence_translations.json
  2016/matrix-multiplication/vietnamese/title.json
Labels: Vietnamese, app

#299 Edit "determinant (vietnamese)" by @ngvutuan2811
  2016/determinant/vietnamese/description.json
  2016/determinant/vietnamese/sentence_translations.json
  2016/determinant/vietnamese/title.json
Labels: Vietnamese, app

#300 Edit "essence-of-calculus (hebrew)" by Imri
  2017/essence-of-calculus/hebrew/description.json
  2017/essence-of-calculus/hebrew/sentence_translations.json
  2017/essence-of-calculus/hebrew/title.json
Labels: Hebrew, app

#301 Edit "bitcoin (italian)" by @lcl45
  2017/bitcoin/italian/description.json
  2017/bitcoin/italian/sentence_translations.json
  2017/bitcoin/italian/title.json
Labels: Italian, app

#303 Edit "backpropagation (italian)" by @teobucci
  2017/backpropagation/italian/description.json
  2017/backpropagation/italian/sentence_translations.json
  2017/backpropagation/italian/title.json
Labels: Italian, app

#296 Edit "eulers-number (italian)" by @Deye27
  2017/eulers-number/italian/description.json
  2017/eulers-number/italian/sentence_translations.json
  2017/eulers-number/italian/title.json
Labels: Italian, app

#305 Edit "vectors (arabic)" by @Cewkins, Hazem
  2016/vectors/arabic/sentence_translations.json
  2016/vectors/arabic/title.json
Labels: Arabic, app

#307 Edit "bitcoin (italian)" by @lcl45
  2017/bitcoin/italian/description.json
  2017/bitcoin/italian/sentence_translations.json
  2017/bitcoin/italian/title.json
Labels: Italian, app

#308 shortened some translations
  2017/chain-rule-and-product-rule/italian/description.json
  2017/chain-rule-and-product-rule/italian/sentence_translations.json
  2017/chain-rule-and-product-rule/italian/title.json
Labels: Italian

#309 Edit "implicit-differentiation (vietnamese)" by @ngvutuan2811
  2017/implicit-differentiation/vietnamese/description.json
  2017/implicit-differentiation/vietnamese/sentence_translations.json
  2017/implicit-differentiation/vietnamese/title.json
Labels: Vietnamese, app

#310 Edit "limits (vietnamese)" by @ngvutuan2811
  2017/limits/vietnamese/description.json
  2017/limits/vietnamese/sentence_translations.json
  2017/limits/vietnamese/title.json
Labels: Vietnamese, app

#311 Edit "integration (vietnamese)" by @ngvutuan2811
  2017/integration/vietnamese/description.json
  2017/integration/vietnamese/sentence_translations.json
  2017/integration/vietnamese/title.json
Labels: Vietnamese, app

#312 Edit "area-and-slope (vietnamese)" by @ngvutuan2811
  2017/area-and-slope/vietnamese/description.json
  2017/area-and-slope/vietnamese/sentence_translations.json
  2017/area-and-slope/vietnamese/title.json
Labels: Vietnamese, app

#313 Edit "taylor-series (vietnamese)" by @ngvutuan2811
  2017/taylor-series/vietnamese/description.json
  2017/taylor-series/vietnamese/sentence_translations.json
  2017/taylor-series/vietnamese/title.json
Labels: Vietnamese, app

#314 Edit "higher-order-derivatives (vietnamese)" by @ngvutuan2811
  2017/higher-order-derivatives/vietnamese/description.json
  2017/higher-order-derivatives/vietnamese/sentence_translations.json
  2017/higher-order-derivatives/vietnamese/title.json
Labels: Vietnamese, app

#315 Edit "derivatives-and-transforms (vietnamese)" by @ngvutuan2811
  2018/derivatives-and-transforms/vietnamese/description.json
  2018/derivatives-and-transforms/vietnamese/sentence_translations.json
  2018/derivatives-and-transforms/vietnamese/title.json
Labels: Vietnamese, app

#316 Edit "feynmans-lost-lecture (vietnamese)" by @ngvutuan2811
  2018/feynmans-lost-lecture/vietnamese/description.json
  2018/feynmans-lost-lecture/vietnamese/sentence_translations.json
  2018/feynmans-lost-lecture/vietnamese/title.json
Labels: Vietnamese, app

#317 Edit "barber-pole-1 (vietnamese)" by @ngvutuan2811
  2023/barber-pole-1/vietnamese/description.json
  2023/barber-pole-1/vietnamese/sentence_translations.json
  2023/barber-pole-1/vietnamese/title.json
Labels: Vietnamese, app

#318 Edit "barber-pole-2 (vietnamese)" by @ngvutuan2811
  2023/barber-pole-2/vietnamese/description.json
  2023/barber-pole-2/vietnamese/sentence_translations.json
  2023/barber-pole-2/vietnamese/title.json
Labels: Vietnamese, app

#319 Edit "limits (italian)" by @Deye27
  2017/limits/italian/description.json
  2017/limits/italian/sentence_translations.json
  2017/limits/italian/title.json
Labels: Italian, app

#320 Edit "backpropagation-calculus (vietnamese)" by @ngvutuan2811
  2017/backpropagation-calculus/vietnamese/description.json
  2017/backpropagation-calculus/vietnamese/sentence_translations.json
  2017/backpropagation-calculus/vietnamese/title.json
Labels: Vietnamese, app

#322 Edit "differential-equations (vietnamese)" by @ngvutuan2811
  2019/differential-equations/vietnamese/sentence_translations.json
  2019/differential-equations/vietnamese/title.json
Labels: Vietnamese, app

#325 Edit "barber-pole-1 (hungarian)" by @FaboBence
  2023/barber-pole-1/hungarian/description.json
  2023/barber-pole-1/hungarian/sentence_translations.json
  2023/barber-pole-1/hungarian/title.json
Labels: Hungarian, app

#326 Edit "gradient-descent (vietnamese)" by @ngvutuan2811
  2017/gradient-descent/vietnamese/description.json
  2017/gradient-descent/vietnamese/sentence_translations.json
  2017/gradient-descent/vietnamese/title.json
Labels: Vietnamese, app

#327 Edit "3d-transformations (vietnamese)" by @ngvutuan2811
  2016/3d-transformations/vietnamese/description.json
  2016/3d-transformations/vietnamese/sentence_translations.json
  2016/3d-transformations/vietnamese/title.json
Labels: Vietnamese, app

#328 Edit "matrix-multiplication (vietnamese)" by @ngvutuan2811
  2016/matrix-multiplication/vietnamese/description.json
  2016/matrix-multiplication/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#329 Edit "gradient-descent (italian)" by @teobucci
  2017/gradient-descent/italian/sentence_translations.json
Labels: Italian, app

#330 Edit "better-bayes (french)" by @raphaelventura
  2020/better-bayes/french/description.json
  2020/better-bayes/french/sentence_translations.json
Labels: French, app

#332 Edit "groups-and-monsters (german)" by @dlatikaynen
  2020/groups-and-monsters/german/description.json
  2020/groups-and-monsters/german/sentence_translations.json
  2020/groups-and-monsters/german/title.json
Labels: German, app

#334 Edit "cramers-rule (vietnamese)" by @ngvutuan2811
  2019/cramers-rule/vietnamese/description.json
  2019/cramers-rule/vietnamese/sentence_translations.json
  2019/cramers-rule/vietnamese/title.json
Labels: Vietnamese, app

#335 Edit "vectors (indonesian)" by Winter Lettuce
  2016/vectors/indonesian/description.json
  2016/vectors/indonesian/sentence_translations.json
  2016/vectors/indonesian/title.json
Labels: Indonesian, app

#337 Edit "essence-of-calculus (spanish)" by @Yag000
  2017/essence-of-calculus/spanish/sentence_translations.json
  2017/essence-of-calculus/spanish/title.json
Labels: Spanish, app

#338 Edit "chain-rule-and-product-rule (italian)" by @adilatte
  2017/chain-rule-and-product-rule/italian/description.json
  2017/chain-rule-and-product-rule/italian/sentence_translations.json
  2017/chain-rule-and-product-rule/italian/title.json
Labels: Italian, app

#339 Edit "moser-reboot (hungarian)" by @FaboBence
  2023/moser-reboot/hungarian/sentence_translations.json
Labels: Hungarian, app

#340 Edit "essence-of-calculus (italian)" by @adilatte
  2017/essence-of-calculus/italian/sentence_translations.json
  2017/essence-of-calculus/italian/title.json
Labels: Italian, app

#341 Edit "change-of-basis (vietnamese)" by @ngvutuan2811
  2016/change-of-basis/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#342 Edit "essence-of-calculus (hindi)" by Dipesh
  2017/essence-of-calculus/hindi/sentence_translations.json
  2017/essence-of-calculus/hindi/title.json
Labels: Hindi, app

#343 Edit "neural-networks (hungarian)" by @FaboBence
  2017/neural-networks/hungarian/description.json
  2017/neural-networks/hungarian/sentence_translations.json
  2017/neural-networks/hungarian/title.json
Labels: Hungarian, app

#381 Edit "implicit-differentiation (vietnamese)" by @ngvutuan2811
  2017/implicit-differentiation/vietnamese/description.json
  2017/implicit-differentiation/vietnamese/sentence_translations.json
  2017/implicit-differentiation/vietnamese/title.json
Labels: Vietnamese, app

#380 Edit "matrix-exponents (vietnamese)" by @ngvutuan2811
  2021/matrix-exponents/vietnamese/description.json
  2021/matrix-exponents/vietnamese/sentence_translations.json
  2021/matrix-exponents/vietnamese/title.json
Labels: Vietnamese, app

#377 Edit "derivatives (vietnamese)" by @ngvutuan2811
  2017/derivatives/vietnamese/description.json
  2017/derivatives/vietnamese/sentence_translations.json
  2017/derivatives/vietnamese/title.json
Labels: Vietnamese, app

#378 Edit "derivative-formulas-geometrically (vietnamese)" by @ngvutuan2811
  2017/derivative-formulas-geometrically/vietnamese/description.json
  2017/derivative-formulas-geometrically/vietnamese/sentence_translations.json
  2017/derivative-formulas-geometrically/vietnamese/title.json
Labels: Vietnamese, app

#375 Edit "cross-products (vietnamese)" by @ngvutuan2811
  2016/cross-products/vietnamese/description.json
  2016/cross-products/vietnamese/sentence_translations.json
  2016/cross-products/vietnamese/title.json
Labels: Vietnamese, app

#370 Edit "barber-pole-1 (vietnamese)" by @ngvutuan2811
  2023/barber-pole-1/vietnamese/title.json
Labels: Vietnamese, app

#365 Edit "prism (vietnamese)" by @ngvutuan2811
  2023/prism/vietnamese/description.json
  2023/prism/vietnamese/sentence_translations.json
  2023/prism/vietnamese/title.json
Labels: Vietnamese, app

#363 Edit "eulers-formula-dynamically (vietnamese)" by @ngvutuan2811
  2019/eulers-formula-dynamically/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#357 Edit "exponential-and-epidemics (vietnamese)" by @ngvutuan2811
  2020/exponential-and-epidemics/vietnamese/description.json
  2020/exponential-and-epidemics/vietnamese/sentence_translations.json
  2020/exponential-and-epidemics/vietnamese/title.json
Labels: Vietnamese, app

#362 Edit "quick-eigen (vietnamese)" by @ngvutuan2811
  2021/quick-eigen/vietnamese/description.json
  2021/quick-eigen/vietnamese/sentence_translations.json
  2021/quick-eigen/vietnamese/title.json
Labels: Vietnamese, app

#361 Edit "linear-transformations (vietnamese)" by @ngvutuan2811
  2016/linear-transformations/vietnamese/description.json
  2016/linear-transformations/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#356 Edit "backpropagation (vietnamese)" by @ngvutuan2811
  2017/backpropagation/vietnamese/description.json
  2017/backpropagation/vietnamese/sentence_translations.json
  2017/backpropagation/vietnamese/title.json
Labels: Vietnamese, app

#355 Edit "inverse-matrices (vietnamese)" by @ngvutuan2811
  2016/inverse-matrices/vietnamese/description.json
  2016/inverse-matrices/vietnamese/sentence_translations.json
  2016/inverse-matrices/vietnamese/title.json
Labels: Vietnamese, app

#353 Edit "vectors (vietnamese)" by @ngvutuan2811
  2016/vectors/vietnamese/description.json
  2016/vectors/vietnamese/sentence_translations.json
  2016/vectors/vietnamese/title.json
Labels: Vietnamese, app

#352 Edit "fourier-series (vietnamese)" by @ngvutuan2811
  2019/fourier-series/vietnamese/description.json
  2019/fourier-series/vietnamese/sentence_translations.json
  2019/fourier-series/vietnamese/title.json
Labels: Vietnamese, app

#344 Edit "pdes (vietnamese)" by @ngvutuan2811
  2019/pdes/vietnamese/description.json
  2019/pdes/vietnamese/sentence_translations.json
  2019/pdes/vietnamese/title.json
Labels: Vietnamese, app
