Repository 3b1b/captions, pull requests merged in 2024-04, with the labels that each got.

#458 Edit "gpt (hebrew)" by Nevakrien
  2024/gpt/hebrew/description.json
  2024/gpt/hebrew/sentence_translations.json
  2024/gpt/hebrew/title.json
Labels: Hebrew, app

#459 Edit "gpt (vietnamese)" by @ngvutuan2811
  2024/gpt/vietnamese/description.json
  2024/gpt/vietnamese/sentence_translations.json
  2024/gpt/vietnamese/title.json
Labels: Vietnamese, app

#465 Edit "gpt (chinese)" by @jimliu
  2024/gpt/chinese/auto_generated.srt
  2024/gpt/chinese/captions.srt
  2024/gpt/chinese/description.json
  2024/gpt/chinese/sentence_translations.json
  2024/gpt/chinese/title.json
Labels: Chinese

#469 Edit "gpt (russian)" by salavey13
  2024/gpt/russian/description.json
  2024/gpt/russian/sentence_translations.json
  2024/gpt/russian/title.json
Labels: Russian, app

#491 Edit "gpt (portuguese)" by StrixLuke
  2024/gpt/portuguese/description.json
  2024/gpt/portuguese/sentence_translations.json
  2024/gpt/portuguese/title.json
Labels: Portuguese, app

#501 Edit "attention (spanish)" by kelonio
  2024/attention/spanish/description.json
  2024/attention/spanish/sentence_translations.json
  2024/attention/spanish/title.json
Labels: Spanish, app

#345 Edit "gaussian-convolution (hebrew)" by @DavidBar-On
  2023/gaussian-convolution/hebrew/description.json
  2023/gaussian-convolution/hebrew/sentence_translations.json
  2023/gaussian-convolution/hebrew/title.json
Labels: Hebrew, app

#347 Edit "derivative-formulas-geometrically (italian)" by Marco F.
  2017/derivative-formulas-geometrically/italian/description.json
  2017/derivative-formulas-geometrically/italian/title.json
Labels: Italian, app

#348 Edit "chessboard-puzzle (italian)" by @filippobolletta
  2020/chessboard-puzzle/italian/description.json
  2020/chessboard-puzzle/italian/sentence_translations.json
  2020/chessboard-puzzle/italian/title.json
Labels: Italian, app

#349 Edit "convolutions2 (hebrew)" by @DavidBar-On
  2023/convolutions2/hebrew/description.json
  2023/convolutions2/hebrew/sentence_translations.json
Labels: Hebrew, app

#351 Edit "derivatives (italian)" by @Deye27
  2017/derivatives/italian/sentence_translations.json
Labels: Italian, app

#354 Edit "bitcoin (italian)" by @lcl45
  2017/bitcoin/italian/description.json
  2017/bitcoin/italian/sentence_translations.json
Labels: Italian, app

#358 Edit "barber-pole-1 (hebrew)" by @DavidBar-On
  2023/barber-pole-1/hebrew/description.json
  2023/barber-pole-1/hebrew/sentence_translations.json
  2023/barber-pole-1/hebrew/title.json
Labels: Hebrew, app

#359 Edit "matrix-multiplication (arabic)" by @Cewkins, Hazem
  2016/matrix-multiplication/arabic/description.json
  2016/matrix-multiplication/arabic/sentence_translations.json
  2016/matrix-multiplication/arabic/title.json
Labels: Arabic, app

#360 Edit "essence-of-calculus (arabic)"
  2017/essence-of-calculus/arabic/description.json
  2017/essence-of-calculus/arabic/sentence_translations.json
  2017/essence-of-calculus/arabic/title.json
Labels: Arabic, app

#364 Edit "gradient-descent (hungarian)" by @FaboBence
  2017/gradient-descent/hungarian/description.json
  2017/gradient-descent/hungarian/sentence_translations.json
  2017/gradient-descent/hungarian/title.json
Labels: Hungarian, app

#369 Edit "pi-was-628 (hebrew)" by omergdalia
  2018/pi-was-628/hebrew/description.json
  2018/pi-was-628/hebrew/sentence_translations.json
  2018/pi-was-628/hebrew/title.json
Labels: Hebrew, app

#371 Edit "clt (hebrew)" by @DavidBar-On
  2023/clt/hebrew/description.json
  2023/clt/hebrew/sentence_translations.json
  2023/clt/hebrew/title.json
Labels: Hebrew, app

#372 Edit "barber-pole-2 (hebrew)" by @DavidBar-On
  2023/barber-pole-2/hebrew/description.json
  2023/barber-pole-2/hebrew/sentence_translations.json
  2023/barber-pole-2/hebrew/title.json
Labels: Hebrew, app

#376 Edit "backpropagation (hungarian)" by @FaboBence
  2017/backpropagation/hungarian/description.json
  2017/backpropagation/hungarian/sentence_translations.json
  2017/backpropagation/hungarian/title.json
Labels: Hungarian, app

#383 Edit "bitcoin (dutch)" by @bvdeijzen
  2017/bitcoin/dutch/description.json
  2017/bitcoin/dutch/sentence_translations.json
  2017/bitcoin/dutch/title.json
Labels: Dutch, app

#384 Edit "binomial-distributions (italian)" by Mirko
  2020/binomial-distributions/italian/sentence_translations.json
  2020/binomial-distributions/italian/title.json
Labels: Italian, app

#385 Edit "clacks (arabic)" by @RakoGames
  2019/clacks/arabic/description.json
  2019/clacks/arabic/sentence_translations.json
  2019/clacks/arabic/title.json
Labels: Arabic, app

#387 Edit "determinant (vietnamese)" by @ngvutuan2811
  2016/determinant/vietnamese/description.json
  2016/determinant/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#388 Edit "neural-networks (hungarian)" by @FaboBence
  2017/neural-networks/hungarian/sentence_translations.json
Labels: Hungarian, app

#389 Edit "3d-transformations (vietnamese)" by @ngvutuan2811
  2016/3d-transformations/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#390 Edit "integration (italian)" by @LorenzoPapi
  2017/integration/italian/description.json
  2017/integration/italian/sentence_translations.json
  2017/integration/italian/title.json
Labels: Italian, app

#392 Edit "cross-products (vietnamese)" by @ngvutuan2811
  2016/cross-products/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#393 Edit "eigenvalues (vietnamese)" by @ngvutuan2811
  2016/eigenvalues/vietnamese/description.json
  2016/eigenvalues/vietnamese/sentence_translations.json
  2016/eigenvalues/vietnamese/title.json
Labels: Vietnamese, app

#394 Edit "abstract-vector-spaces (vietnamese)" by @ngvutuan2811
  2016/abstract-vector-spaces/vietnamese/description.json
  2016/abstract-vector-spaces/vietnamese/sentence_translations.json
  2016/abstract-vector-spaces/vietnamese/title.json
Labels: Vietnamese, app

#395 Edit "area-and-slope (marathi)" by SKadam06
  2017/area-and-slope/marathi/sentence_translations.json
Labels: Marathi, app

#396 Edit "backpropagation-calculus (hungarian)" by @FaboBence
  2017/backpropagation-calculus/hungarian/description.json
  2017/backpropagation-calculus/hungarian/sentence_translations.json
  2017/backpropagation-calculus/hungarian/title.json
Labels: Hungarian, app

#397 Edit "subsets-puzzle (vietnamese)" by @ngvutuan2811
  2022/subsets-puzzle/vietnamese/description.json
  2022/subsets-puzzle/vietnamese/sentence_translations.json
  2022/subsets-puzzle/vietnamese/title.json
Labels: Vietnamese, app

#398 Edit "moser-reboot (vietnamese)" by @ngvutuan2811
  2023/moser-reboot/vietnamese/description.json
  2023/moser-reboot/vietnamese/sentence_translations.json
  2023/moser-reboot/vietnamese/title.json
Labels: Vietnamese, app

#400 Edit "integration (vietnamese)" by @ngvutuan2811
  2017/integration/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#401 Edit "convolutions2 (vietnamese)" by @ngvutuan2811
  2023/convolutions2/vietnamese/description.json
  2023/convolutions2/vietnamese/sentence_translations.json
  2023/convolutions2/vietnamese/title.json
Labels: Vietnamese, app

#402 Edit "essence-of-calculus (russian)" by Maxime Sitchenko
  2017/essence-of-calculus/russian/description.json
  2017/essence-of-calculus/russian/sentence_translations.json
  2017/essence-of-calculus/russian/title.json
Labels: Russian, app

#403 Edit "derivative-formulas-geometrically (vietnamese)" by @ngvutuan2811
  2017/derivative-formulas-geometrically/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#405 Edit "shadows (vietnamese)" by @ngvutuan2811
  2021/shadows/vietnamese/description.json
  2021/shadows/vietnamese/sentence_translations.json
  2021/shadows/vietnamese/title.json
Labels: Vietnamese, app

#406 Edit "backpropagation (vietnamese)" by @ngvutuan2811
  2017/backpropagation/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#408 Edit "backpropagation-calculus (vietnamese)" by @ngvutuan2811
  2017/backpropagation-calculus/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#409 Edit "gaussian-convolution (vietnamese)" by @ngvutuan2811
  2023/gaussian-convolution/vietnamese/description.json
  2023/gaussian-convolution/vietnamese/sentence_translations.json
  2023/gaussian-convolution/vietnamese/title.json
Labels: Vietnamese, app

#411 Edit "cross-products-extended (vietnamese)" by @ngvutuan2811
  2016/cross-products-extended/vietnamese/description.json
  2016/cross-products-extended/vietnamese/sentence_translations.json
  2016/cross-products-extended/vietnamese/title.json
Labels: Vietnamese, app

#412 Edit "change-of-basis (vietnamese)" by @ngvutuan2811
  2016/change-of-basis/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#413 Edit "divergence-and-curl (vietnamese)" by @ngvutuan2811
  2018/divergence-and-curl/vietnamese/description.json
  2018/divergence-and-curl/vietnamese/sentence_translations.json
  2018/divergence-and-curl/vietnamese/title.json
Labels: Vietnamese, app

#414 Edit "derivatives (russian)" by Maxime Sitchenko
  2017/derivatives/russian/description.json
  2017/derivatives/russian/sentence_translations.json
  2017/derivatives/russian/title.json
Labels: Russian, app

#416 Edit "eulers-characteristic-formula (vietnamese)" by @ngvutuan2811
  2015/eulers-characteristic-formula/vietnamese/sentence_translations.json
  2015/eulers-characteristic-formula/vietnamese/title.json
Labels: Vietnamese, app

#417 Edit "inverse-matrices (vietnamese)" by @ngvutuan2811
  2016/inverse-matrices/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#418 Edit "clt (vietnamese)" by @ngvutuan2811
  2023/clt/vietnamese/description.json
  2023/clt/vietnamese/sentence_translations.json
  2023/clt/vietnamese/title.json
Labels: Vietnamese, app

#419 Edit "quaternions (vietnamese)" by @ngvutuan2811
  2018/quaternions/vietnamese/description.json
  2018/quaternions/vietnamese/sentence_translations.json
  2018/quaternions/vietnamese/title.json
Labels: Vietnamese, app

#386 Edit "differential-equations (vietnamese)" by @ngvutuan2811
  2019/differential-equations/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#422 Edit "gaussian-integral (vietnamese)" by @ngvutuan2811
  2023/gaussian-integral/vietnamese/description.json
  2023/gaussian-integral/vietnamese/sentence_translations.json
  2023/gaussian-integral/vietnamese/title.json
Labels: Vietnamese, app

#423 Edit "uncertainty-principle (vietnamese)" by @ngvutuan2811
  2018/uncertainty-principle/vietnamese/sentence_translations.json
  2018/uncertainty-principle/vietnamese/title.json
Labels: Vietnamese, app

#424 Edit "groups-and-monsters (vietnamese)" by @ngvutuan2811
  2020/groups-and-monsters/vietnamese/description.json
  2020/groups-and-monsters/vietnamese/sentence_translations.json
  2020/groups-and-monsters/vietnamese/title.json
Labels: Vietnamese, app

#425 Edit "eulers-formula-via-group-theory (vietnamese)" by @ngvutuan2811
  2017/eulers-formula-via-group-theory/vietnamese/description.json
  2017/eulers-formula-via-group-theory/vietnamese/sentence_translations.json
  2017/eulers-formula-via-group-theory/vietnamese/title.json
Labels: Vietnamese, app

#428 Edit "bayes-theorem (vietnamese)" by @ngvutuan2811
  2019/bayes-theorem/vietnamese/description.json
  2019/bayes-theorem/vietnamese/sentence_translations.json
  2019/bayes-theorem/vietnamese/title.json
Labels: Vietnamese, app

#429 Edit "bayes-theorem-quick (vietnamese)" by @ngvutuan2811
  2019/bayes-theorem-quick/vietnamese/sentence_translations.json
  2019/bayes-theorem-quick/vietnamese/title.json
Labels: Vietnamese, app

#430 Edit "bitcoin (vietnamese)" by @ngvutuan2811
  2017/bitcoin/vietnamese/description.json
  2017/bitcoin/vietnamese/sentence_translations.json
  2017/bitcoin/vietnamese/title.json
Labels: Vietnamese, app

#432 Edit "essence-of-calculus (hebrew)" by @tempodat
  2017/essence-of-calculus/hebrew/description.json
  2017/essence-of-calculus/hebrew/sentence_translations.json
  2017/essence-of-calculus/hebrew/title.json
Labels: Hebrew, app

#433 Edit "wordle (portuguese)" by @churris-x
  2022/wordle/portuguese/description.json
  2022/wordle/portuguese/sentence_translations.json
  2022/wordle/portuguese/title.json
Labels: Portuguese, app

#438 Edit "differential-equations (hebrew)" by @DavidBar-On
  2019/differential-equations/hebrew/description.json
  2019/differential-equations/hebrew/sentence_translations.json
  2019/differential-equations/hebrew/title.json
Labels: Hebrew, app

#439 Edit "256-bit-security (vietnamese)" by @ngvutuan2811
  2017/256-bit-security/vietnamese/description.json
  2017/256-bit-security/vietnamese/sentence_translations.json
  2017/256-bit-security/vietnamese/title.json
Labels: Vietnamese, app

#440 Edit "ldm-quadratic (vietnamese)" by @ngvutuan2811
  2020/ldm-quadratic/vietnamese/sentence_translations.json
  2020/ldm-quadratic/vietnamese/title.json
Labels: Vietnamese, app

#441 Edit "derivatives (vietnamese)" by @ngvutuan2811
  2017/derivatives/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#443 Edit "on-shorts (korean)" by @tebaioioo
  2023/shorts/on-shorts/korean/sentence_translations.json
Labels: Korean, app

#444 Edit "neural-networks (korean)" by sleepncaffeine
  2017/neural-networks/korean/description.json
  2017/neural-networks/korean/sentence_translations.json
  2017/neural-networks/korean/title.json
Labels: Korean, app

#445 Edit "area-and-slope (italian)" by @Deye27
  2017/area-and-slope/italian/description.json
  2017/area-and-slope/italian/sentence_translations.json
  2017/area-and-slope/italian/title.json
Labels: Italian, app

#446 Edit "vectors (polish)" by Emilia Latko
  2016/vectors/polish/sentence_translations.json
Labels: Polish, app

#447 Edit "essence-of-calculus (bulgarian)" by Chavdar Nenov
  2017/essence-of-calculus/bulgarian/description.json
  2017/essence-of-calculus/bulgarian/sentence_translations.json
  2017/essence-of-calculus/bulgarian/title.json
Labels: Bulgarian, app

#448 Edit "derivatives (bulgarian)" by Chavdar Nenov
  2017/derivatives/bulgarian/description.json
  2017/derivatives/bulgarian/sentence_translations.json
  2017/derivatives/bulgarian/title.json
Labels: Bulgarian, app

#449 Edit "derivative-formulas-geometrically (bulgarian)" by Chavdar Nenov
  2017/derivative-formulas-geometrically/bulgarian/description.json
  2017/derivative-formulas-geometrically/bulgarian/sentence_translations.json
  2017/derivative-formulas-geometrically/bulgarian/title.json
Labels: Bulgarian, app

#426 Edit "essence-of-calculus (german)" by @tm-frs
  2017/essence-of-calculus/german/description.json
  2017/essence-of-calculus/german/sentence_translations.json
  2017/essence-of-calculus/german/title.json
Labels: German, app

#450 Edit "chain-rule-and-product-rule (bulgarian)" by Chavdar Nenov
  2017/chain-rule-and-product-rule/bulgarian/description.json
  2017/chain-rule-and-product-rule/bulgarian/sentence_translations.json
  2017/chain-rule-and-product-rule/bulgarian/title.json
Labels: Bulgarian, app

#451 Edit "eulers-number (bulgarian)" by Chavdar Nenov
  2017/eulers-number/bulgarian/description.json
  2017/eulers-number/bulgarian/sentence_translations.json
  2017/eulers-number/bulgarian/title.json
Labels: Bulgarian, app

#452 Edit "implicit-differentiation (bulgarian)" by Chavdar Nenov
  2017/implicit-differentiation/bulgarian/description.json
  2017/implicit-differentiation/bulgarian/sentence_translations.json
  2017/implicit-differentiation/bulgarian/title.json
Labels: Bulgarian, app

#453 Edit "limits (bulgarian)" by Chavdar Nenov
  2017/limits/bulgarian/description.json
  2017/limits/bulgarian/sentence_translations.json
  2017/limits/bulgarian/title.json
Labels: Bulgarian, app

#455 Edit "area-and-slope (bulgarian)" by Chavdar Nenov
  2017/area-and-slope/bulgarian/description.json
  2017/area-and-slope/bulgarian/sentence_translations.json
  2017/area-and-slope/bulgarian/title.json
Labels: Bulgarian, app

#456 Edit "higher-order-derivatives (bulgarian)" by Chavdar Nenov
  2017/higher-order-derivatives/bulgarian/description.json
  2017/higher-order-derivatives/bulgarian/sentence_translations.json
  2017/higher-order-derivatives/bulgarian/title.json
Labels: Bulgarian, app

#457 Edit "taylor-series (bulgarian)" by Chavdar Nenov
  2017/taylor-series/bulgarian/description.json
  2017/taylor-series/bulgarian/sentence_translations.json
  2017/taylor-series/bulgarian/title.json
Labels: Bulgarian, app

#461 Edit "vectors (indonesian)" by @rrayhka
  2016/vectors/indonesian/sentence_translations.json
Labels: Indonesian, app

#462 Edit "span (indonesian)" by @rrayhka
  2016/span/indonesian/description.json
  2016/span/indonesian/sentence_translations.json
  2016/span/indonesian/title.json
Labels: Indonesian, app

#463 Edit "inscribed-rectangle-problem (vietnamese)" by @ngvutuan2811
  2016/inscribed-rectangle-problem/vietnamese/description.json
  2016/inscribed-rectangle-problem/vietnamese/sentence_translations.json
  2016/inscribed-rectangle-problem/vietnamese/title.json
Labels: Vietnamese, app

#464 Edit "borsuk-ulam (vietnamese)" by @ngvutuan2811
  2018/borsuk-ulam/vietnamese/description.json
  2018/borsuk-ulam/vietnamese/sentence_translations.json
  2018/borsuk-ulam/vietnamese/title.json
Labels: Vietnamese, app

#467 Edit "essence-of-calculus (telugu)" by rangacodes
  2017/essence-of-calculus/telugu/sentence_translations.json
Labels: Telugu, app

#468 Edit "higher-order-derivatives (telugu)" by rangacodes
  2017/higher-order-derivatives/telugu/sentence_translations.json
Labels: Telugu, app

#470 Edit "essence-of-calculus (vietnamese)" by @ngvutuan2811
  2017/essence-of-calculus/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#471 Edit "matrix-exponents (vietnamese)" by @ngvutuan2811
  2021/matrix-exponents/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#472 Edit "cross-products (russian)" by @e-p-h
  2016/cross-products/russian/description.json
  2016/cross-products/russian/sentence_translations.json
  2016/cross-products/russian/title.json
Labels: Russian, app

#474 Edit "cross-products-extended (russian)" by @e-p-h
  2016/cross-products-extended/russian/description.json
  2016/cross-products-extended/russian/sentence_translations.json
  2016/cross-products-extended/russian/title.json
Labels: Russian, app

#475 Edit "vectors (french)" by @pacalet
  2016/vectors/french/description.json
  2016/vectors/french/sentence_translations.json
  2016/vectors/french/title.json
Labels: French, app

#476 Edit "ldm-natural-logs (portuguese)" by @paulohtobias
  2020/ldm-natural-logs/portuguese/sentence_translations.json
  2020/ldm-natural-logs/portuguese/title.json
Labels: Portuguese, app

#480 Edit "derivatives (french)" by @TheMysteriousM
  2017/derivatives/french/sentence_translations.json
  2017/derivatives/french/title.json
Labels: French, app

#481 Edit "pi-was-628 (arabic)" by Newtonnnnnn
  2018/pi-was-628/arabic/sentence_translations.json
  2018/pi-was-628/arabic/title.json
Labels: Arabic, app

#482 Edit "derivatives (german)" by Dschonnie
  2017/derivatives/german/description.json
  2017/derivatives/german/sentence_translations.json
  2017/derivatives/german/title.json
Labels: German, app

#483 Edit "vectors (italian)" by @dre-droid
  2016/vectors/italian/sentence_translations.json
Labels: Italian, app

#484 Edit "neural-networks (hebrew)" by orifar1
  2017/neural-networks/hebrew/description.json
  2017/neural-networks/hebrew/sentence_translations.json
  2017/neural-networks/hebrew/title.json
Labels: Hebrew, app

#485 Edit "wallis-product (vietnamese)" by @ngvutuan2811
  2018/wallis-product/vietnamese/sentence_translations.json
  2018/wallis-product/vietnamese/title.json
Labels: Vietnamese, app

#486 Edit "span (french)" by @pacalet
  2016/span/french/description.json
  2016/span/french/sentence_translations.json
  2016/span/french/title.json
Labels: French, app

#489 Edit "essence-of-calculus (korean)" by Taywon Min
  2017/essence-of-calculus/korean/sentence_translations.json
Labels: Korean, app

#492 Edit "clacks-solution (vietnamese)" by @ngvutuan2811
  2019/clacks-solution/vietnamese/description.json
  2019/clacks-solution/vietnamese/sentence_translations.json
  2019/clacks-solution/vietnamese/title.json
Labels: Vietnamese, app

#493 Edit "neural-networks (chinese)" by @dzhou1221
  2017/neural-networks/chinese/description.json
  2017/neural-networks/chinese/sentence_translations.json
  2017/neural-networks/chinese/title.json
Labels: Chinese, app

#495 Edit "gradient-descent (korean)" by blindTissue
  2017/gradient-descent/korean/description.json
  2017/gradient-descent/korean/sentence_translations.json
  2017/gradient-descent/korean/title.json
Labels: Korean, app

#497 Edit "gradient-descent (chinese)" by @RainStorm108
  2017/gradient-descent/chinese/description.json
  2017/gradient-descent/chinese/sentence_translations.json
  2017/gradient-descent/chinese/title.json
Labels: Chinese, app

#499 Edit "cube-shadow-puzzle (chinese)" by @RainStorm108
  2024/shorts/cube-shadow-puzzle/chinese/sentence_translations.json
  2024/shorts/cube-shadow-puzzle/chinese/title.json
Labels: Chinese, app

#500 Edit "higher-order-derivatives (italian)" by smilefabri
  2017/higher-order-derivatives/italian/sentence_translations.json
Labels: Italian, app

#502 Edit "attention (vietnamese)" by @ngvutuan2811
  2024/attention/vietnamese/description.json
  2024/attention/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#503 Edit "quaternions-and-3d-rotation (vietnamese)" by @ngvutuan2811
  2018/quaternions-and-3d-rotation/vietnamese/sentence_translations.json
  2018/quaternions-and-3d-rotation/vietnamese/title.json
Labels: Vietnamese, app

#504 Edit "attention (chinese)" by @jimliu
  2024/attention/chinese/auto_generated.srt
  2024/attention/chinese/captions.srt
  2024/attention/chinese/sentence_translations.json
Labels: Chinese

#506 Edit "gpt (hebrew)" by @DavidBar-On
  2024/gpt/hebrew/description.json
  2024/gpt/hebrew/sentence_translations.json
  2024/gpt/hebrew/title.json
Labels: Hebrew, app

#510 Edit "linear-transformations (vietnamese)" by @ngvutuan2811
  2016/linear-transformations/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#511 Edit "gpt (vietnamese)" by @ngvutuan2811
  2024/gpt/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#512 Edit "neural-networks (vietnamese)" by @ngvutuan2811
  2017/neural-networks/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#513 Edit "clacks (portuguese)" by @felipponn
  2019/clacks/portuguese/description.json
  2019/clacks/portuguese/sentence_translations.json
  2019/clacks/portuguese/title.json
Labels: Portuguese, app

#514 Edit "gpt (arabic)" by Python Arabic Community
  2024/gpt/arabic/description.json
  2024/gpt/arabic/sentence_translations.json
  2024/gpt/arabic/title.json
Labels: Arabic, app

#515 Edit "clacks-via-light (vietnamese)" by @ngvutuan2811
  2019/clacks-via-light/vietnamese/description.json
  2019/clacks-via-light/vietnamese/sentence_translations.json
  2019/clacks-via-light/vietnamese/title.json
Labels: Vietnamese, app
