Repository 3b1b/captions, pull requests merged in 2024-05, with the labels that each got.

#516 Edit "clacks (portuguese)" by @felipponn
  2019/clacks/portuguese/sentence_translations.json
Labels: Portuguese, app

#517 Edit "barber-pole-1 (portuguese)" by @Zanchet2020
  2023/barber-pole-1/portuguese/description.json
  2023/barber-pole-1/portuguese/sentence_translations.json
  2023/barber-pole-1/portuguese/title.json
Labels: Portuguese, app

#518 Edit "integration (italian)" by @Deye27
  2017/integration/italian/description.json
  2017/integration/italian/sentence_translations.json
  2017/integration/italian/title.json
Labels: Italian, app

#519 Edit "nonsquare-matrices (vietnamese)" by @ngvutuan2811
  2016/nonsquare-matrices/vietnamese/description.json
  2016/nonsquare-matrices/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#520 Edit "differential-equations (vietnamese)" by @ngvutuan2811
  2019/differential-equations/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#521 Edit "convolutions2 (hebrew)" by @dolevr
  2023/convolutions2/hebrew/sentence_translations.json
Labels: Hebrew, app

#522 Edit "eulers-characteristic-formula (hebrew)" by @dolevr
  2015/eulers-characteristic-formula/hebrew/title.json
Labels: Hebrew, app

#523 Edit "essence-of-calculus (hebrew)" by @dolevr
  2017/essence-of-calculus/hebrew/sentence_translations.json
  2017/essence-of-calculus/hebrew/title.json
Labels: Hebrew, app

#524 Edit "essence-of-calculus (indonesian)" by NFadhlurrahman
  2017/essence-of-calculus/indonesian/description.json
  2017/essence-of-calculus/indonesian/sentence_translations.json
  2017/essence-of-calculus/indonesian/title.json
Labels: Indonesian, app

#528 Edit "light-quantum-mechanics (vietnamese)" by @ngvutuan2811
  2017/light-quantum-mechanics/vietnamese/sentence_translations.json
  2017/light-quantum-mechanics/vietnamese/title.json
Labels: Vietnamese, app

#529 Edit "cramers-rule (vietnamese)" by @ngvutuan2811
  2019/cramers-rule/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#530 Edit "barber-pole-1 (vietnamese)" by @ngvutuan2811
  2023/barber-pole-1/vietnamese/sentence_translations.json
  2023/barber-pole-1/vietnamese/title.json
Labels: Vietnamese, app

#534 Edit "derivative-formulas-geometrically (dutch)" by @zwets
  2017/derivative-formulas-geometrically/dutch/description.json
  2017/derivative-formulas-geometrically/dutch/sentence_translations.json
  2017/derivative-formulas-geometrically/dutch/title.json
Labels: Dutch, app

#535 Edit "vectors (vietnamese)" by @ngvutuan2811
  2016/vectors/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#536 Edit "neural-networks (vietnamese)" by @ngvutuan2811
  2017/neural-networks/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#537 Edit "abstract-vector-spaces (vietnamese)" by @ngvutuan2811
  2016/abstract-vector-spaces/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#538 Edit "subsets-puzzle (vietnamese)" by @ngvutuan2811
  2022/subsets-puzzle/vietnamese/description.json
  2022/subsets-puzzle/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#539 Edit "derivatives (hebrew)" by @tempodat
  2017/derivatives/hebrew/description.json
  2017/derivatives/hebrew/sentence_translations.json
  2017/derivatives/hebrew/title.json
Labels: Hebrew, app

#540 Edit "attention (thai)" by @korakot
  2024/attention/thai/description.json
  2024/attention/thai/sentence_translations.json
  2024/attention/thai/title.json
Labels: Thai, app

#542 Edit "prime-spirals (vietnamese)" by @ngvutuan2811
  2019/prime-spirals/vietnamese/description.json
  2019/prime-spirals/vietnamese/sentence_translations.json
  2019/prime-spirals/vietnamese/title.json
Labels: Vietnamese, app

#543 Edit "pythagorean-triples (vietnamese)" by @ngvutuan2811
  2017/pythagorean-triples/vietnamese/description.json
  2017/pythagorean-triples/vietnamese/sentence_translations.json
  2017/pythagorean-triples/vietnamese/title.json
Labels: Vietnamese, app

#544 Edit "triangle-of-power (vietnamese)" by @ngvutuan2811
  2016/triangle-of-power/vietnamese/sentence_translations.json
  2016/triangle-of-power/vietnamese/title.json
Labels: Vietnamese, app

#545 Edit "hardest-problem (vietnamese)" by @ngvutuan2811
  2017/hardest-problem/vietnamese/description.json
  2017/hardest-problem/vietnamese/sentence_translations.json
  2017/hardest-problem/vietnamese/title.json
Labels: Vietnamese, app

#546 Edit "newtons-fractal (vietnamese)" by @ngvutuan2811
  2021/newtons-fractal/vietnamese/description.json
  2021/newtons-fractal/vietnamese/sentence_translations.json
  2021/newtons-fractal/vietnamese/title.json
Labels: Vietnamese, app

#547 Edit "attention (hebrew)" by @DavidBar-On
  2024/attention/hebrew/description.json
  2024/attention/hebrew/sentence_translations.json
  2024/attention/hebrew/title.json
Labels: Hebrew, app

#548 Edit "hanoi-and-sierpinski (vietnamese)" by @ngvutuan2811
  2016/hanoi-and-sierpinski/vietnamese/sentence_translations.json
  2016/hanoi-and-sierpinski/vietnamese/title.json
Labels: Vietnamese, app

#549 Edit "chessboard-puzzle (vietnamese)" by @ngvutuan2811
  2020/chessboard-puzzle/vietnamese/sentence_translations.json
  2020/chessboard-puzzle/vietnamese/title.json
Labels: Vietnamese, app

#550 Edit "chain-rule-and-product-rule (russian)" by @plotonnn
  2017/chain-rule-and-product-rule/russian/description.json
  2017/chain-rule-and-product-rule/russian/sentence_translations.json
  2017/chain-rule-and-product-rule/russian/title.json
Labels: Russian, app

#551 Edit "lockdown-math-announcement (russian)" by @plotonnn
  2020/lockdown-math-announcement/russian/sentence_translations.json
  2020/lockdown-math-announcement/russian/title.json
Labels: Russian, app

#552 Edit "shadows (vietnamese)" by @ngvutuan2811
  2021/shadows/vietnamese/sentence_translations.json
  2021/shadows/vietnamese/title.json
Labels: Vietnamese, app

#553 Edit "matrix-multiplication (vietnamese)" by @ngvutuan2811
  2016/matrix-multiplication/vietnamese/sentence_translations.json
  2016/matrix-multiplication/vietnamese/title.json
Labels: Vietnamese, app

#554 Edit "dot-products (vietnamese)" by @ngvutuan2811
  2016/dot-products/vietnamese/description.json
  2016/dot-products/vietnamese/sentence_translations.json
  2016/dot-products/vietnamese/title.json
Labels: Vietnamese, app

#555 Edit "cross-products (vietnamese)" by @ngvutuan2811
  2016/cross-products/vietnamese/description.json
  2016/cross-products/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#556 Edit "change-of-basis (vietnamese)" by @ngvutuan2811
  2016/change-of-basis/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#557 Edit "hamming-codes (vietnamese)" by @ngvutuan2811
  2020/hamming-codes/vietnamese/description.json
  2020/hamming-codes/vietnamese/sentence_translations.json
  2020/hamming-codes/vietnamese/title.json
Labels: Vietnamese, app

#558 Edit "essence-of-calculus (russian)" by @plotonnn
  2017/essence-of-calculus/russian/description.json
  2017/essence-of-calculus/russian/sentence_translations.json
  2017/essence-of-calculus/russian/title.json
Labels: Russian, app

#559 Edit "leibniz-formula (vietnamese)" by @ngvutuan2811
  2017/leibniz-formula/vietnamese/description.json
  2017/leibniz-formula/vietnamese/sentence_translations.json
  2017/leibniz-formula/vietnamese/title.json
Labels: Vietnamese, app

#560 Edit "taylor-series (italian)" by Leonardo Brignoccoli
  2017/taylor-series/italian/description.json
  2017/taylor-series/italian/sentence_translations.json
  2017/taylor-series/italian/title.json
Labels: Italian, app

#561 Edit "eola-preview (vietnamese)" by @ngvutuan2811
  2016/eola-preview/vietnamese/description.json
  2016/eola-preview/vietnamese/sentence_translations.json
  2016/eola-preview/vietnamese/title.json
Labels: Vietnamese, app

#562 Edit "gaussian-integral (turkish)" by @mahmudsami
  2023/gaussian-integral/turkish/description.json
  2023/gaussian-integral/turkish/sentence_translations.json
  2023/gaussian-integral/turkish/title.json
Labels: Turkish, app

#563 Edit "clt (turkish)" by @mahmudsami
  2023/clt/turkish/description.json
  2023/clt/turkish/sentence_translations.json
  2023/clt/turkish/title.json
Labels: Turkish, app

#564 Edit "winding-numbers (vietnamese)" by @ngvutuan2811
  2018/winding-numbers/vietnamese/sentence_translations.json
  2018/winding-numbers/vietnamese/title.json
Labels: Vietnamese, app

#565 Edit "hamming-codes-2 (vietnamese)" by @ngvutuan2811
  2020/hamming-codes-2/vietnamese/description.json
  2020/hamming-codes-2/vietnamese/sentence_translations.json
  2020/hamming-codes-2/vietnamese/title.json
Labels: Vietnamese, app

#566 Edit "neural-networks (portuguese)" by @felipponn
  2017/neural-networks/portuguese/sentence_translations.json
Labels: Portuguese, app

#567 Edit "moser-reboot (vietnamese)" by @ngvutuan2811
  2023/moser-reboot/vietnamese/description.json
  2023/moser-reboot/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#568 Edit "holomorphic-dynamics (vietnamese)" by @ngvutuan2811
  2021/holomorphic-dynamics/vietnamese/description.json
  2021/holomorphic-dynamics/vietnamese/sentence_translations.json
  2021/holomorphic-dynamics/vietnamese/title.json
Labels: Vietnamese, app

#569 Edit "three-utilities (vietnamese)" by @ngvutuan2811
  2017/three-utilities/vietnamese/sentence_translations.json
  2017/three-utilities/vietnamese/title.json
Labels: Vietnamese, app

#570 Edit "bayes-theorem (vietnamese)" by @ngvutuan2811
  2019/bayes-theorem/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#571 Edit "derivatives (hindi)" by Siddharth Patel
  2017/derivatives/hindi/description.json
  2017/derivatives/hindi/sentence_translations.json
  2017/derivatives/hindi/title.json
Labels: Hindi, app

#572 Edit "area-and-slope (vietnamese)" by @ngvutuan2811
  2017/area-and-slope/vietnamese/description.json
  2017/area-and-slope/vietnamese/sentence_translations.json
  2017/area-and-slope/vietnamese/title.json
Labels: Vietnamese, app

#574 Edit "integration (vietnamese)" by @ngvutuan2811
  2017/integration/vietnamese/description.json
  2017/integration/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#575 Edit "vectors (japanese)" by Estquilia
  2016/vectors/japanese/description.json
  2016/vectors/japanese/sentence_translations.json
  2016/vectors/japanese/title.json
Labels: Japanese, app

#576 Edit "taylor-series (vietnamese)" by @ngvutuan2811
  2017/taylor-series/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#577 Edit "span (japanese)" by Estquilia
  2016/span/japanese/description.json
  2016/span/japanese/sentence_translations.json
  2016/span/japanese/title.json
Labels: Japanese, app

#578 Added missing English words
  2017/gradient-descent/english/transcript.txt
Labels: English

#579 Edit "derivatives-and-transforms (vietnamese)" by @ngvutuan2811
  2018/derivatives-and-transforms/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#580 Edit "linear-transformations (vietnamese)" by @ngvutuan2811
  2016/linear-transformations/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#581 Edit "heat-equation (vietnamese)" by @ngvutuan2811
  2019/heat-equation/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#582 Edit "essence-of-calculus (korean)" by Hana Seo
  2017/essence-of-calculus/korean/sentence_translations.json
Labels: Korean, app

#583 Edit "implicit-differentiation (vietnamese)" by @ngvutuan2811
  2017/implicit-differentiation/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#584 Edit "gpt (portuguese)" by aldebaro
  2024/gpt/portuguese/sentence_translations.json
  2024/gpt/portuguese/title.json
Labels: Portuguese, app

#585 Edit "ldm-complex-numbers (vietnamese)" by @ngvutuan2811
  2020/ldm-complex-numbers/vietnamese/sentence_translations.json
  2020/ldm-complex-numbers/vietnamese/title.json
Labels: Vietnamese, app

#587 Edit "gpt (vietnamese)" by @ngvutuan2811
  2024/gpt/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#588 Edit "hamming-codes (italian)" by @athdesk
  2020/hamming-codes/italian/description.json
  2020/hamming-codes/italian/sentence_translations.json
  2020/hamming-codes/italian/title.json
Labels: Italian, app

#589 Edit "prism (vietnamese)" by @ngvutuan2811
  2023/prism/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#590 Edit "light-quantum-mechanics (vietnamese)" by @ngvutuan2811
  2017/light-quantum-mechanics/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#591 Edit "brachistochrone (vietnamese)" by @ngvutuan2811
  2016/brachistochrone/vietnamese/description.json
  2016/brachistochrone/vietnamese/sentence_translations.json
  2016/brachistochrone/vietnamese/title.json
Labels: Vietnamese, app

#592 Edit "abstract-vector-spaces (vietnamese)" by @ngvutuan2811
  2016/abstract-vector-spaces/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#593 Edit "dot-products (vietnamese)" by @ngvutuan2811
  2016/dot-products/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#594 Edit "eulers-number (vietnamese)" by @ngvutuan2811
  2017/eulers-number/vietnamese/description.json
  2017/eulers-number/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#595 Edit "limits (vietnamese)" by @ngvutuan2811
  2017/limits/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#597 Edit "matrix-multiplication (vietnamese)" by @ngvutuan2811
  2016/matrix-multiplication/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#598 Edit "essence-of-calculus (korean)" by Hana Seo
  2017/essence-of-calculus/korean/sentence_translations.json
Labels: Korean, app

#599 Edit "essence-of-calculus (indonesian)" by @yellowsmileyface
  2017/essence-of-calculus/indonesian/sentence_translations.json
Labels: Indonesian, app

#600 Edit "derivatives (indonesian)" by @yellowsmileyface
  2017/derivatives/indonesian/description.json
  2017/derivatives/indonesian/sentence_translations.json
  2017/derivatives/indonesian/title.json
Labels: Indonesian, app

#601 Edit "barber-pole-2 (vietnamese)" by @ngvutuan2811
  2023/barber-pole-2/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#603 Edit "vectors (vietnamese)" by @ngvutuan2811
  2016/vectors/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#604 Edit "groups-and-monsters (vietnamese)" by @ngvutuan2811
  2020/groups-and-monsters/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#605 Edit "linear-transformations (vietnamese)" by @ngvutuan2811
  2016/linear-transformations/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#606 Edit "differential-equations (vietnamese)" by @ngvutuan2811
  2019/differential-equations/vietnamese/sentence_translations.json
  2019/differential-equations/vietnamese/title.json
Labels: Vietnamese, app

#608 Edit "better-bayes (chinese)" by @alex-mayee
  2020/better-bayes/chinese/sentence_translations.json
  2020/better-bayes/chinese/title.json
Labels: Chinese, app

#610 Edit "vectors (polish)" by radek-p
  2016/vectors/polish/sentence_translations.json
Labels: Polish, app

#611 Edit "essence-of-calculus (marathi)" by @Shruti29
  2017/essence-of-calculus/marathi/sentence_translations.json
Labels: Marathi, app

#612 Fix "gpt (chinese)" incorrect SRT timestamp format
  2024/gpt/chinese/captions.srt
Labels: Chinese

#613 Edit "essence-of-calculus (bulgarian)" by Chavdar Nenov
  2017/essence-of-calculus/bulgarian/sentence_translations.json
Labels: Bulgarian, app

#614 Edit "essence-of-calculus (chinese)" by @alex-mayee
  2017/essence-of-calculus/chinese/description.json
  2017/essence-of-calculus/chinese/sentence_translations.json
  2017/essence-of-calculus/chinese/title.json
Labels: Chinese, app

#615 Edit "harvey-mudd-speech (french)" by @michaelosamuel
  2024/harvey-mudd-speech/french/description.json
  2024/harvey-mudd-speech/french/sentence_translations.json
  2024/harvey-mudd-speech/french/title.json
Labels: French, app

#616 Edit "chessboard-puzzle (vietnamese)" by @ngvutuan2811
  2020/chessboard-puzzle/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#617 Edit "gradient-descent (hebrew)" by @DavidBar-On
  2017/gradient-descent/hebrew/description.json
  2017/gradient-descent/hebrew/sentence_translations.json
  2017/gradient-descent/hebrew/title.json
Labels: Hebrew, app

#618 Edit "neural-networks (hebrew)" by @DavidBar-On
  2017/neural-networks/hebrew/description.json
  2017/neural-networks/hebrew/sentence_translations.json
Labels: Hebrew, app

#619 Edit "gaussian-convolution (hebrew)" by @DavidBar-On
  2023/gaussian-convolution/hebrew/description.json
  2023/gaussian-convolution/hebrew/sentence_translations.json
Labels: Hebrew, app

#620 Edit "clt (hebrew)" by @DavidBar-On
  2023/clt/hebrew/sentence_translations.json
Labels: Hebrew, app

#621 Edit "barber-pole-2 (hebrew)" by @DavidBar-On
  2023/barber-pole-2/hebrew/description.json
  2023/barber-pole-2/hebrew/sentence_translations.json
Labels: Hebrew, app

#622 Edit "backpropagation (hebrew)" by @DavidBar-On
  2017/backpropagation/hebrew/description.json
  2017/backpropagation/hebrew/sentence_translations.json
  2017/backpropagation/hebrew/title.json
Labels: Hebrew, app

#623 Edit "clt (vietnamese)" by @ngvutuan2811
  2023/clt/vietnamese/sentence_translations.json
Labels: Vietnamese, app

#624 Edit "vectors (spanish)" by d4lion
  2016/vectors/spanish/description.json
  2016/vectors/spanish/sentence_translations.json
  2016/vectors/spanish/title.json
Labels: Spanish, app

#625 Edit "gpt (french)" by poischiches
  2024/gpt/french/description.json
  2024/gpt/french/sentence_translations.json
  2024/gpt/french/title.json
Labels: French, app
