Repository 3b1b/captions, pull requests merged in 2024-02, with the labels that each got.

#109 [German] 2019/clacks-solution
  2019/clacks-solution/german/sentence_translations.json
Labels: German

#69 [German] 2023-ego-and-math
  2023/ego-and-math/german/sentence_translations.json
  2024/shorts/mandelbrot/german/description.json
  2024/shorts/mandelbrot/german/sentence_translations.json
Labels: German

#65 [German] 2024-shorts-shadow-puzzle
  2024/shorts/cube-shadow-puzzle/german/sentence_translations.json
Labels: German

#61 [German] 2024, shorts, mandelbrot
  2024/shorts/mandelbrot/german/sentence_translations.json
Labels: German

#36 Hungarian translation of the essence of calculus video
  2017/essence-of-calculus/hungarian/description.json
  2017/essence-of-calculus/hungarian/sentence_translations.json
Labels: Hungarian

#53 [TURKISH] 2023/gaussian-integral - Revisions and Improvements
  2023/gaussian-integral/turkish/description.json
  2023/gaussian-integral/turkish/sentence_translations.json
  2023/gaussian-integral/turkish/title.json
Labels: Turkish

#77 Update sentence_translations.json
  2023/ego-and-math/spanish/sentence_translations.json
Labels: Spanish

#81 [German] Reworked Wordle sentence_translations.json
  2022/wordle/german/sentence_translations.json
Labels: German

#103 [Portuguese] Updating 2023/refractive-index-questions
  2023/refractive-index-questions/portuguese/sentence_translations.json
Labels: Portuguese

#112 [HUN] 2023/barber-pole-1
  2023/barber-pole-1/hungarian/description.json
  2023/barber-pole-1/hungarian/sentence_translations.json
Labels: Hungarian

#116 [SPANISH] Hamming Codes 2020 - finished
  2020/hamming-codes/spanish/description.json
  2020/hamming-codes/spanish/sentence_translations.json
Labels: Spanish

#119 [Bulgarian] 2024/shorts/mandelbrot
  2024/shorts/mandelbrot/bulgarian/description.json
  2024/shorts/mandelbrot/bulgarian/sentence_translations.json
  2024/shorts/mandelbrot/bulgarian/title.json
Labels: Bulgarian

#121 CLT Hebrew subtitles update#2
  2023/clt/hebrew/sentence_translations.json
Labels: Hebrew

#122 [German] 2019/clacks-solution
  2019/clacks-solution/german/sentence_translations.json
Labels: German

#127 Update sentence_translations.json
  2023/barber-pole-2/indonesian/sentence_translations.json
Labels: Indonesian

#128 [Dutch] 2017/essence-of-calculus
  2017/essence-of-calculus/dutch/sentence_translations.json
Labels: Dutch

#130 Update sentence_translations.json
  2024/shorts/cube-shadow-puzzle/hindi/sentence_translations.json
Labels: Hindi

#131 [Portuguese] (Limits - Ch7 Essence of Calculus) 2017/limits
  2017/limits/portuguese/sentence_translations.json
Labels: Portuguese

#132 Update sentence_translations.json - newton-art-puzzle - French
  2023/shorts/newton-art-puzzle/french/sentence_translations.json
Labels: French

#133 Update sentence_translations.json - refractive-index-questions/french
  2023/refractive-index-questions/french/sentence_translations.json
Labels: French

#134 2023/gaussian-integral Spanish
  2023/gaussian-integral/spanish/description.json
Labels: Spanish

#136 Update sentence_translations.json
  2023/prism/urdu/sentence_translations.json
Labels: Urdu

#138 [French] Updating 2023/moser-reboot
  2023/moser-reboot/french/sentence_translations.json
Labels: French

#140 Update sentence_translations.json
  2024/shorts/mandelbrot/french/sentence_translations.json
Labels: French

#141 Add description translations
  2024/shorts/mandelbrot/italian/transcript.txt
Labels: Italian

#143 [HUN] 2020/hamming-codes
  2020/hamming-codes/hungarian/sentence_translations.json
Labels: Hungarian

#144 Update sentence_translations.json
  2015/music-and-measure-theory/russian/sentence_translations.json
Labels: Russian

#148 [Korean] cube-shadow-puzzle typo fix
  2024/shorts/cube-shadow-puzzle/korean/auto_generated.srt
  2024/shorts/cube-shadow-puzzle/korean/sentence_translations.json
Labels: Korean

#149 Fix gaussian convolution spanish
  2023/gaussian-convolution/spanish/description.json
  2023/gaussian-convolution/spanish/sentence_translations.json
  2023/gaussian-convolution/spanish/title.json
Labels: Spanish

#152 Update sentence_translations.json
  2016/abstract-vector-spaces/russian/sentence_translations.json
Labels: Russian

#153 [French] visual proofs Update sentence_translations.json
  2022/visual-proofs/french/sentence_translations.json
Labels: French

#154 Update description.json
  2016/abstract-vector-spaces/russian/description.json
Labels: Russian

#155 Testing demo
  2019/bayes-theorem/gujarati/description.json
  2019/bayes-theorem/gujarati/sentence_translations.json
  2019/bayes-theorem/gujarati/title.json
  2022/borwein/hindi/description.json
Labels: Hindi

#158 Update backpropagation video - Vietnamese
  2017/backpropagation/vietnamese/description.json
  2017/backpropagation/vietnamese/sentence_translations.json
Labels: Vietnamese

#161 fixed wording and terms
  2015/inventing-math/thai/sentence_translations.json
Labels: Thai

#162 Update description.json
  2016/vectors/thai/description.json
Labels: Thai

#164 Revised Korean sentence_translations.json for barber-pole-1
  2023/barber-pole-1/korean/sentence_translations.json
Labels: Korean

#165 [Hebrew] Gausssioan-integral / 2023 - translation update
  2023/gaussian-integral/hebrew/sentence_translations.json
Labels: Hebrew

#167 Updated_sentence_translations.json
  2016/vectors/bengali/sentence_translations.json
Labels: Bengali

#168 [HUN] 2020/hamming-codes-2
  2020/hamming-codes-2/hungarian/description.json
  2020/hamming-codes-2/hungarian/sentence_translations.json
  2020/hamming-codes/hungarian/description.json
Labels: Hungarian

#169 Fix unnatural phases and words in Vietnamese
  2023/gaussian-convolution/vietnamese/sentence_translations.json
Labels: Vietnamese

#172 Add dutch translations for clt, moser-reboot, prism
  2023/clt/dutch/auto_generated.srt
  2023/clt/dutch/description.json
  2023/clt/dutch/sentence_translations.json
  2023/clt/dutch/title.json
  2023/moser-reboot/dutch/auto_generated.srt
  2023/moser-reboot/dutch/description.json
  2023/moser-reboot/dutch/sentence_translations.json
  2023/moser-reboot/dutch/title.json
  2023/prism/dutch/auto_generated.srt
  2023/prism/dutch/description.json
  2023/prism/dutch/sentence_translations.json
  2023/prism/dutch/title.json
Labels: Dutch

#173 Update english transcriptions
  2017/neural-networks/bengali/sentence_translations.json
  2017/neural-networks/chinese/sentence_translations.json
  2017/neural-networks/english/captions.srt
  2017/neural-networks/english/sentence_timings.json
  2017/neural-networks/english/transcript.txt
  2017/neural-networks/french/sentence_translations.json
  2017/neural-networks/greek/sentence_translations.json
  2017/neural-networks/hebrew/sentence_translations.json
  2017/neural-networks/hindi/sentence_translations.json
  2017/neural-networks/japanese/sentence_translations.json
  2017/neural-networks/marathi/sentence_translations.json
  2017/neural-networks/romanian/sentence_translations.json
  2017/neural-networks/russian/sentence_translations.json
  2017/neural-networks/spanish/sentence_translations.json
  2017/neural-networks/tagalog/sentence_translations.json
  2017/neural-networks/tamil/sentence_translations.json
  2017/neural-networks/telugu/sentence_translations.json
  2017/neural-networks/ukrainian/sentence_translations.json
  2017/neural-networks/urdu/sentence_translations.json
  2023/prism/arabic/sentence_translations.json
  2023/prism/bengali/sentence_translations.json
  2023/prism/chinese/sentence_translations.json
  2023/prism/czech/sentence_translations.json
  2023/prism/dutch/sentence_translations.json
  2023/prism/english/captions.srt
  2023/prism/english/sentence_timings.json
  2023/prism/english/transcript.txt
  2023/prism/french/sentence_translations.json
  2023/prism/german/sentence_translations.json
  2023/prism/hebrew/gpt4_reviewed_sentence_translations.json
  2023/prism/hebrew/sentence_translations.json
  2023/prism/hindi/gpt4_reviewed_sentence_translations.json
  2023/prism/hindi/sentence_translations.json
  2023/prism/hungarian/sentence_translations.json
  2023/prism/indonesian/sentence_translations.json
  2023/prism/italian/sentence_translations.json
  2023/prism/japanese/sentence_translations.json
  2023/prism/korean/sentence_translations.json
  2023/prism/marathi/sentence_translations.json
  2023/prism/persian/sentence_translations.json
  2023/prism/polish/sentence_translations.json
  2023/prism/russian/sentence_translations.json
  2023/prism/spanish/sentence_translations.json
  2023/prism/tamil/sentence_translations.json
  2023/prism/telugu/sentence_translations.json
  2023/prism/thai/sentence_translations.json
  2023/prism/turkish/sentence_translations.json
  2023/prism/ukrainian/sentence_translations.json
  2023/prism/urdu/sentence_translations.json
  2023/prism/vietnamese/sentence_translations.json
Labels: German, Hebrew, Hungarian, Spanish, Czech, Indonesian, Dutch, Hindi, French, Vietnamese, Turkish, Urdu, Italian, Russian, Korean, Arabic, Chinese, English, Japanese, Persian, Thai, Ukrainian, Bengali, Greek, Marathi, Romanian, Tagalog, Tamil, Telugu, Polish

#180 Update title.json
  2017/essence-of-calculus/vietnamese/title.json
Labels: Vietnamese

#178 2023 | moser-reboot | russian corrections
  2023/barber-pole-1/russian/description.json
  2023/moser-reboot/russian/description.json
  2023/moser-reboot/russian/sentence_translations.json
Labels: Russian

#185 Run DeepL translations on german for calculus, linear algebra and neural networks
  2016/3d-transformations/german/sentence_translations.json
  2016/abstract-vector-spaces/german/sentence_translations.json
  2016/brachistochrone/german/sentence_translations.json
  2016/change-of-basis/german/sentence_translations.json
  2016/cross-products-extended/german/sentence_translations.json
  2016/cross-products/german/sentence_translations.json
  2016/determinant/german/sentence_translations.json
  2016/dot-products/german/sentence_translations.json
  2016/eigenvalues/german/sentence_translations.json
  2016/eola-preview/german/sentence_translations.json
  2016/inverse-matrices/german/sentence_translations.json
  2016/linear-transformations/german/sentence_translations.json
  2016/matrix-multiplication/german/sentence_translations.json
  2016/nonsquare-matrices/german/sentence_translations.json
  2016/span/german/sentence_translations.json
  2016/vectors/german/sentence_translations.json
  2017/area-and-slope/german/sentence_translations.json
  2017/backpropagation-calculus/german/sentence_translations.json
  2017/backpropagation/german/sentence_translations.json
  2017/chain-rule-and-product-rule/german/sentence_translations.json
  2017/derivative-formulas-geometrically/german/sentence_translations.json
  2017/derivatives/german/sentence_translations.json
  2017/essence-of-calculus/german/sentence_translations.json
  2017/eulers-number/german/sentence_translations.json
  2017/gradient-descent/german/sentence_translations.json
  2017/higher-order-derivatives/german/sentence_translations.json
  2017/implicit-differentiation/german/sentence_translations.json
  2017/integration/german/sentence_translations.json
  2017/limits/german/sentence_translations.json
  2017/neural-networks/german/sentence_translations.json
  2017/taylor-series/german/sentence_translations.json
  2018/derivatives-and-transforms/german/sentence_translations.json
  2018/divergence-and-curl/german/sentence_translations.json
  2019/cramers-rule/german/sentence_translations.json
  2021/quick-eigen/german/sentence_translations.json
Labels: German

#184 moser spanish translation
  2023/moser-reboot/spanish/sentence_translations.json
Labels: Spanish

#196 Edit "essence-of-calculus (french)"
  2017/essence-of-calculus/french/description.json
  2017/essence-of-calculus/french/sentence_translations.json
  2017/essence-of-calculus/french/title.json
Labels: app

#199 Edit "essence-of-calculus (french)"
  2017/essence-of-calculus/french/sentence_translations.json
Labels: app

#200 Edit "derivatives (french)"
  2017/derivatives/french/description.json
  2017/derivatives/french/sentence_translations.json
  2017/derivatives/french/title.json
Labels: app

#201 Edit "chain-rule-and-product-rule (french)"
  2017/chain-rule-and-product-rule/french/description.json
  2017/chain-rule-and-product-rule/french/sentence_translations.json
  2017/chain-rule-and-product-rule/french/title.json
Labels: app

#211 Edit "neural-networks (hungarian)"
  2017/neural-networks/hungarian/description.json
  2017/neural-networks/hungarian/sentence_translations.json
  2017/neural-networks/hungarian/title.json
  app/src/data/completion.json
Labels: app

#213 Edit "hamming-codes (hungarian)"
  2020/hamming-codes/hungarian/description.json
  2020/hamming-codes/hungarian/sentence_translations.json
  2020/hamming-codes/hungarian/title.json
  app/src/data/completion.json
Labels: app

#214 Edit "hamming-codes-2 (hungarian)"
  2020/hamming-codes-2/hungarian/description.json
  2020/hamming-codes-2/hungarian/sentence_translations.json
  2020/hamming-codes-2/hungarian/title.json
Labels: app

#215 Edit "moser-reboot (hungarian)"
  2023/moser-reboot/hungarian/description.json
  2023/moser-reboot/hungarian/sentence_translations.json
  2023/moser-reboot/hungarian/title.json
  app/src/data/completion.json
Labels: Hungarian, app

#216 Edit "vectors (czech)"
  2016/vectors/czech/description.json
  2016/vectors/czech/sentence_translations.json
  2016/vectors/czech/title.json
Labels: Czech, app

#217 Edit "essence-of-calculus (portuguese)"
  2017/essence-of-calculus/portuguese/description.json
  2017/essence-of-calculus/portuguese/sentence_translations.json
  2017/essence-of-calculus/portuguese/title.json
Labels: Portuguese, app

#221 Edit "moser-reboot (spanish)"
  2023/moser-reboot/spanish/description.json
  2023/moser-reboot/spanish/sentence_translations.json
  2023/moser-reboot/spanish/title.json
Labels: Spanish, app

#219 Edit "essence-of-calculus (korean)"
  2017/essence-of-calculus/korean/description.json
  2017/essence-of-calculus/korean/sentence_translations.json
  2017/essence-of-calculus/korean/title.json
Labels: Korean, app

#220 Edit "Why π is in the normal distribution" (Hebrew) - second round
  2023/gaussian-integral/hebrew/sentence_translations.json
Labels: Hebrew

#222 Edit "better-bayes (vietnamese)"
  2020/better-bayes/vietnamese/description.json
  2020/better-bayes/vietnamese/sentence_translations.json
  2020/better-bayes/vietnamese/title.json
Labels: Vietnamese, app

#223 Edit "eola-preview (french)"
  2016/eola-preview/french/description.json
  2016/eola-preview/french/sentence_translations.json
  2016/eola-preview/french/title.json
Labels: French, app

#224 Edit "neural-networks (italian)"
  2017/neural-networks/italian/description.json
  2017/neural-networks/italian/sentence_translations.json
  2017/neural-networks/italian/title.json
Labels: Italian, app

#226 Updated English captions.srt
  2019/cramers-rule/english/captions.srt
Labels: English

#227 Edit "eulers-formula-via-group-theory (italian)"
  2017/eulers-formula-via-group-theory/italian/description.json
  2017/eulers-formula-via-group-theory/italian/sentence_translations.json
  2017/eulers-formula-via-group-theory/italian/title.json
Labels: Italian, app

#229 Edit "hamming-codes (hungarian)"
  2020/hamming-codes/hungarian/sentence_translations.json
Labels: Hungarian, app

#230 Edit "neural-networks (italian)"
  2017/neural-networks/italian/sentence_translations.json
Labels: Italian, app

#231 Edit "Convolutions | Why X+Y in probability is a beautiful mess (Hebrew)"
  2023/convolutions2/hebrew/sentence_translations.json
Labels: Hebrew

#232 Track reviewers on convolutions2/hebrew
  2023/convolutions2/hebrew/sentence_translations.json
  2023/moser-reboot/spanish/sentence_translations.json
Labels: Hebrew, Spanish

#234 Edit "sphere-area (german)"
  2018/sphere-area/german/description.json
  2018/sphere-area/german/sentence_translations.json
  2018/sphere-area/german/title.json
Labels: German, app
